<!doctype html>
<html>
  <head>
    <meta charset="utf-8" />

    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />

    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
      integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
      crossorigin="anonymous"
    />

    <link href="registration.component.css" type="text/css" rel="stylesheet" />

    <script src="https://kit.fontawesome.com/a076d05399.js"></script>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.0/jquery.min.js"></script>
  </head>

  <body id="background">
    <div class="text-center" style="position: relative; top: 5mm;">
      <p id="title">
        Registrazione
      </p>
    </div>

    <!--container flex-->
    <div class="d-flex p-2 justify-content-center">
      <!--elemento flex-->
      <div class="p-2">
        <p id="Introduction">
          Ciao,come va?sei pronto per costruire la tua barriera corallina?che
          aspetti creati un account e cominciamo subito!riempi gli appositi
          campi qui sotto elencati.
        </p>
      </div>
    </div>

    <!--container flex-->
    <div class="d-flex p-2 justify-content-center">
      <div class="d-flex flex-row">
        <!--elemento flex-->
        <div
          class="p-2"
          style="position: relative; top: 10mm; right: 20mm; width: 100mm;"
        >
          <form action="" method="">
            <p id="target">Scrivi il tuo nome utente</p>

            <input
              type="text"
              style="width: 60mm;"
              placeholder="Inserisci il nome utente"
              id="input_style"
              class="form-control"
            />

            <p id="target">Conferma il nome utente</p>

            <input
              type="text"
              style="width: 60mm;"
              placeholder="Conferma il nome utente"
              id="input_style"
              class="form-control"
            />
          </form>
        </div>

        <!--elemento flex-->
        <div
          class="p-2"
          style="position: relative; top: 10mm; left: 20mm; width: 100mm;"
        >
          <form action="" method="">
            <p id="target">Scrivi la tua password</p>

            <input
              type="text"
              style="width: 60mm;"
              placeholder="Inserisci la password"
              id="input_style"
              class="form-control"
            />

            <p id="target">Conferma la password</p>

            <input
              type="text"
              style="width: 60mm;"
              placeholder="Conferma la password"
              id="input_style"
              class="form-control"
            />
          </form>

          <div class="d-flex p-2 justify-content-center">
            <div class="d-flex flex-row">
              <div class="p-2" style="position: relative; top: 10mm;">
                <p id="invia">
                  Si entra in mare!
                </p>
              </div>

              <!--elemento flex-->
              <div class="p-2" style="position: relative; top: 5mm;">
                <button type="submit" role="button">Invia</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
