<!DOCTYPE html>

<html>
  <head>
    <meta charset="utf-8" />

    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />

    <link
      href="leaderboard-page.component.css"
      type="text/css"
      rel="stylesheet"
    />
    <script src="https://kit.fontawesome.com/a076d05399.js"></script>
  </head>

  <body>
    <div class="container-fluid sfondo_landing">
      <div class="d-flex p-2 justify-content-center">
        <div class="flex-row">
          <div class="p-2">
            <p class="title">Classifica</p>
          </div>
        </div>
      </div>
      <!--{{ mostraTabella() }}-->
      <div class="container">
        <div class="row">
          <div class="col-lg justify-content-center">
            <!--<div *ngIf="show" >-->
            <table class="table table-lg" id="classifica">
              <div class="scroll">
                <tr>
                  <th scope="col"></th>
                  <th scope="col">Nome</th>
                  <th scope="col">Partite giocate</th>
                  <th scope="col">
                    Percentuale vittorie
                    <i
                      onclick="javascript:sortTable();"
                      class="fas fa-sort"
                    ></i>
                  </th>
                </tr>
                <tbody>
                  <tr *ngFor="let item of giocatori; index as i;" class="tizi">
                    <td scope="row"> {{i+1}} </td>
                    <td scope="row"> {{ item.getNome() }} </td>
                    <td scope="row"> {{ item.getNumeroVittorie() }} </td>
                    <td scope="row"> {{ item.getPercentualeVittorie() }} </td>
                  </tr>

                  <!--<li *ngFor="let user of users; index as i; first as isFirst">
                    {{i}}/{{users.length}}. {{user}} <span *ngIf="isFirst">default</span>
                  </li>-->

                  <!-- <td scope="row">{{ giocatore.nome }}</td>
                <td scope="row">{{ giocatore.partiteGiocate }}</td>
                <td scope="row">{{ giocatore.percentualeVittorie }}</td>-->
                </tbody>
              </div>
            </table>

            <!--</div>-->

            <!--<div *ngIf="(show)" class="p-2"> 
            <h1>
              Spiacente non ci sono giocatori registrati al momento 
              <i class="fas fa-frown p-2"></i>
            </h1>
          </div>-->

            <!--</div>-->
          </div>
        </div>
      </div>
    </div>

    <div style="bottom: 50px; right: 20px; position: absolute;" class="p-2">
      <button routerLink="/menu-di-gioco">Torna al menu</button>
    </div>

    <script>
      function sortTable(n) {
  var table, rows, switching, i, x, y, shouldSwitch, dir, switchcount = 0;
  table = document.getElementById("classifica");
  switching = true;
  // Set the sorting direction to ascending:
  dir = "asc";
  /* Make a loop that will continue until
  no switching has been done: */
  while (switching) {
    // Start by saying: no switching is done:
    switching = false;
    rows = table.rows;
    /* Loop through all table rows (except the
    first, which contains table headers): */
    for (i = 1; i < (rows.length - 1); i++) {
      // Start by saying there should be no switching:
      shouldSwitch = false;
      /* Get the two elements you want to compare,
      one from current row and one from the next: */
      x = rows[i].getElementsByTagName("TD")[n];
      y = rows[i + 1].getElementsByTagName("TD")[n];
      /* Check if the two rows should switch place,
      based on the direction, asc or desc: */
      if (dir == "asc") {
        if (x.innerHTML.toLowerCase() > y.innerHTML.toLowerCase()) {
          // If so, mark as a switch and break the loop:
          shouldSwitch = true;
          break;
        }
      } else if (dir == "desc") {
        if (x.innerHTML.toLowerCase() < y.innerHTML.toLowerCase()) {
          // If so, mark as a switch and break the loop:
          shouldSwitch = true;
          break;
        }
      }
    }
    if (shouldSwitch) {
      /* If a switch has been marked, make the switch
      and mark that a switch has been done: */
      rows[i].parentNode.insertBefore(rows[i + 1], rows[i]);
      switching = true;
      // Each time a switch is done, increase this count by 1:
      switchcount ++;
    } else {
      /* If no switching has been done AND the direction is "asc",
      set the direction to "desc" and run the while loop again. */
      if (switchcount == 0 && dir == "asc") {
        dir = "desc";
        switching = true;
      }
    }
  }
}
    </script>
  </body>
</html>
