<!DOCTYPE html>

<html>
  <head>
    <meta charset="utf-8" />

    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />

    <link
      href="leaderboard-page.component.css"
      type="text/css"
      rel="stylesheet"
    />
  </head>

  <body>
    <div class="d-flex p-2 justify-content-center">
      <div class="flex-row">
        <div class="p-2">
          <p class="title">Classifica</p>
        </div>
      </div>
    </div>
   {{ mostraTabella() }}
    <div class="container">
      <div class="row">
        <div class="col-lg justify-content-center">
          <div *ngIf="show" >
          <table class="table table-lg ">
            <div class="scroll">
            <tr>
              <th scope="col">Nome</th>
              <th scope="col" >Vittorie</th>
              <th scope="col">Sconfitte</th>
              <th scope="col">Percentuale Vittorie</th>
              <th scope="col"  style="border-right: 2px solid rgb(108, 205, 250);">Punteggio Totale</th>
            </tr>
            <tbody>
              <tr *ngFor="let giocatore of classifica" class="content">
                <td scope="row">{{ giocatore.nome }}</td>
                <td scope="row">{{ giocatore.partiteVinte }}</td>
                <td scope="row">
                  {{ giocatore.partitePerse }}
                </td>
                <td scope="row">
                  {{ giocatore.percentualeVittorie }}
                </td>
                <td scope="row" style="border-right: 2px solid rgb(108, 205, 250);"> 
                  {{ giocatore.punteggioTotale }}
                </td>
              </tr>
            </tbody>
          </div>
          </table>
          </div>
          
          <div *ngIf="!(show)" class="p-2"> 
            <h1>
              Spiacente non ci sono giocatori registrati al momento 
              <i class="fas fa-frown p-2"></i>
            </h1>
          </div>
          
        </div>
      </div>
    </div>

    <div class="d-flex p-2 justify-content-center">
      <div class="p-2">
        <button routerLink="/menu-di-gioco">
          Torna al menu
        </button>
      </div>
      <div class="p-2">
        <button routerLink="/">
          Disconnettiti
        </button>
      </div>
    </div>
  </body>
</html>
