<div class="sfondo_rules container-fluid">
  <div class="row">
    <div class="col-md-12">
      <p class="title">Le Regole del Gioco:</p>
    </div>
  </div>

  <section id="istruzioni">
    <div class="row">
      <div class="col-md-12">

        <article class="font_istruzioni">Towers of Wisdom è un gioco di carte a due giocatori che prevede un mazzo di 32
          carte.
          Il mazzo è composto dalle seguenti tipologie di carte: </article>
        <article class="font_istruzioni">
          <ul>
            <p>• 7 carte contrassegnate dal simbolo (S1) e da un valore da 1 a 7</p>
            <p>• 7 carte contrassegnate dal simbolo (S2) e da un valore da 1 a 7</p>
            <p>• 7 carte contrassegnate dal simbolo (S3) e da un valore da 1 a 7</p>
            <p>• 7 carte contrassegnate dal simbolo (S4) e da un valore da 1 a 7</p>
            <p>• 4 carte contrassegnate dal simbolo (P)</p>
          </ul>
        </article>
        <article class="font_istruzioni">
          Ai simboli (S1), (S2), (S3), (S4), (P) corrisponderanno delle icone tematiche. "S" sta per
          simbolo, "P" sta per punta.
          L'idea è quella di costruire delle torri, dove ogni torre è formata da una pila di carte con stesso
          simbolo sovrapposte parzialmente (in modo da vedere le carte sottostanti). La regola da seguire
          quando si contribuisce una carta alla costruzione di una torre è quella di sovrapporre carte con valori
          progressivamente decrescenti, non importa se consecutivi. La punta P è come un jolly, nel senso che
          è sovrapponibile ad una carta di un qualsiasi simbolo, ma solo se la carta ha valore 1.
          Esempi di torri valide:
          1. 7, 6, 5, 4, 3 2, 1, P
          2. 7, 5, 3, 1, P
          3. 3, 2, 1, P
          4. 1, P
          5. 4
          Lo scopo del gioco è totalizzare più punti dell'avversario. Il totale dei punti per un giocatore è dato
          dal totale dei punti di tutte le torri giocate. La presenza di una punta fa raddoppiare il valore di quella
          torre. Le torri dell'esempio precedente hanno i seguenti valori:
          1. 7, 6, 5, 4, 3 2, 1, P: 56
          2. 7, 5, 3, 1, P: 32
          3. 3, 2, 1, P: 12
          4. 1, P: 2
          5. 4: 4
          Ad inizio partita il mazzo viene mescolato. Ogni giocatore riceve una mano iniziale di tre carte.
          Viene deciso in modo casuale il giocatore che inizia per primo. In caso di partite successive ci si
          alterna ad iniziare per primi.
          Il primo giocatore gioca il suo turno: deve compiere due azioni in ordine:
          1. Prima pesca una carta dal mazzo coperto o da quello degli scarti
          2. Poi gioca una carta dalla mano contribuendo alla costruzione di una propria torre (ognuno
          contribuisce alle proprie torri) o la scarta a faccia in su aggiungendola al mazzo degli scarti.
          Tutte le carte scartate sono considerate accessibili.
          Il secondo giocatore gioca il suo turno allo stesso modo.
          Il gioco finisce immediatamente quando l'ultima carta dal mazzo coperto è stata pescata.
          Sono possibili le seguenti modalità di gioco:
          - Contro un bot (AI) sullo stesso elaboratore
          - Contro un altro giocatore in rete locale</article>
      </div>
    </div>
  </section>

  <div class="row">
    <div class="col-12">
      <a routerLink="/" class="btn btn-info button">Ritorna alla pagina principale</a>
    </div>
  </div>

</div>