.sfondo_landing{
    background-image:URL("./assets/images/sea-background-1980.jpg");
    background-size:cover;
    height: 100%;
    position: relative;
  }

@font-face{
    font-family: 'goiabada';
    src: url('../../assets/fonts/GOIABADA.TTF') format('truetype');
  }

  @font-face{
    font-family: 'manicsea';
    src: url('../../assets/fonts/ManicSea.ttf') format('truetype');
  }

  .font_title{
    font-size: 100px;
}
.title {
    font-style: oblique;
    font-family: 'goiabada';
    text-align: center;
    padding: 0px;
    color:#1407cc;
    text-shadow: 3px 3px  #ffa4f7;
}

.allineamento_img1{
     width:150px;
    height: auto;
}
.allineamento_img2{
     width:150px;
    height: auto;
    transform: rotateY(180deg);
}

.button_menu{
    font-size: large;
    text-align: center;
    color: #ffa4f7;
    box-shadow: 1px 1px 3px #000000;
    border: solid 3px #0076a3;
    margin: 50px;

}

.button_back{
    margin-top:150px;
}

#introduzione{
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bolder;
    color:#ffa4f7;
    text-shadow: 1.5px 1.5px 1px #000000;
}


#menu{
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bolder;
    color:#f7b017;
    text-shadow: 1.5px 1.5px 1px #000000;
}






