<div class="container-fluid sfondo_landing">
  <section id="title_section">
    <div class="row container-fluid py-3">
      <div class="col-12 title">

        <p class="font_title"><img class="allineamento_img1" src="assets/images/stellemarine.png"> {{title}} <img
            class="allineamento_img2" src="assets/images/stellemarine.png"></p>

      </div>
    </div>
  </section>


  <section id="introduzione">
    <div class="row">
      <div class="col-md-12">
        <h2 style="font-size: 30px;">{{intro}}</h2>
      </div>
    </div>

    <br>
    <br>

  </section>
  <!--
    <div class="d-flex flex-wrap justify-content-around">
      <div>
        <button routerLink="/regolegioco" class="btn btn-outline-primary mr-2 button">Regole del gioco</button>
        <button routerLink="/demo" class="btn btn-outline-secondary mx-2 button">Demo</button>
      </div>
    </div>
      <br>
        <router-outlet></router-outlet>
        -->
  <router-outlet></router-outlet>
  
  
 
  

  <section id='menu'>



    <div class="row">
      <div class="col-md-12">
        <ul class="text-center list-inline py-3">
          <li class="list-inline-item">

            <button routerLink="/login" *ngIf="bottoneLanding" class="btn btn-info  mr-4 button_menu " (click)="nascondi()"
               >
              <div class="row justify-content-center py-4">Entra</div>
              <div class="bolla1 list-inline-item">
                <div class="bolla2 list-inline-item">
                  <div class="bolla4 list-inline-item">
                    <div class="bolla5 list-inline-item">

                    </div>
                  </div>
                </div>
              </div>

              <div class="bolla3 list-inline-item">

              </div>
            </button>


          </li>


              <li class="list-inline-item"><button routerLink="/regole" *ngIf="bottoneLanding"
                  class="btn btn-info button_menu mr-4">
                  <div class="row justify-content-center">Regole</div>
                  <div class="row justify-content-center">del gioco</div>
                  <div class="bolla1 list-inline-item">
                    <div class="bolla2 list-inline-item">
                      <div class="bolla4 list-inline-item">
                        <div class="bolla5 list-inline-item">

                        </div>
                      </div>
                    </div>
                  </div>

                  <div class="bolla3 list-inline-item">

                  </div>
                </button>

              </li>
              <li class="list-inline-item"><button routerLink="/demo" *ngIf="bottoneLanding"
                  class="btn btn-info button_menu" >
                  <div class="row justify-content-center py-4">Demo</div>
                  <div class="bolla1 list-inline-item">
                    <div class="bolla2 list-inline-item">
                      <div class="bolla4 list-inline-item">
                        <div class="bolla5 list-inline-item">

                        </div>
                      </div>
                    </div>
                  </div>

                  <div class="bolla3 list-inline-item">

                  </div>
                </button>

              </li>

           
        </ul>

      </div>
    </div>
  </section>



</div>