#title-3d {
    /*font,aspetto e posizione del titolo*/
    position: relative;
    top: 30px;
    transform: skewY(-6deg);
    /*rotiamo di gradi sull'asse Y*/
    font-size: 12.0mm;
    color: transparent;
    font-family: 'Arbutus';
    text-shadow: 0px 0px 1px #28a3f0,
        1px 1px 2px #216fed,
        2px 2px 2px #2874f0,
        -1px -1px 2px #1b6ced,
        -2px -2px 2px #367ef1,
        1px -1px 2px #317bf0,
        -1px 1px 2px #357bed,
        2px -2px 2px #1f6cea,
        -2px 2px 2px #0f65ef;
    /*
        -distanza dell'ombra in orizzontale
        -distanza dell'ombra in verticale
        -sfocatura
        -colore dell'ombra
    */


}

form h4 {
    /*colore delle scritte utente e password*/
    color: #1e8eef;
}


#input_style {
    /*stile,dimensione e colore del'input*/
    border: solid 1px #1e8eef;
    border-radius: 1mm;
    background: #bff5fc;
}

#panel {
    /*pannello principale da dove si inseriscono i dati e si accede al gioco,che contiene il tutto: tasti,forms e le scritte*/
    position: relative;
    top: 50px;
}

#panel1 {
    /*pannello principale da dove si inseriscono i dati e si accede al gioco,che contiene il tutto: tasti,forms e le scritte*/

    
}

#info-icon{/*posizione,stile e colore dell'icona*/
    position: relative;
    top: 155px;
}

#background{
    background-image: url(../Images/joshua-dewey-X8M1P40wrO8-unsplash.jpg);
    background-size: 1400px 800px;
}


@media screen and (max-width: 450px) {

    /*riposizionamento del titolo*/
    p#title-3d {
        font-size: 10.0mm;
    }
}

@media screen and (max-width: 342px) {

    /*riposizionamento del titolo*/
    p#title-3d {
        font-size: 8.0mm;
    }
}
