<form (ngSubmit)="onSubmit()" #utenteform="ngForm">
  <div class="row">
    <div class="col-6 text-right">
      <div class="form-group">
        <label for="nome" class="text-center w-50"
          >Nome Utente<input
            type="text"
            [(ngModel)]="user.nomeutente"
            class="form-control"
            id="nomeutente"
            name="nomeutente"
            placeholder="Inserisci il nome utente"
            required
            #name="ngModel"
        /></label>

                <label for="nome" class="text-center w-25">Nome Utente<input type="text" [(ngModel)]="utente.nomeutente"
                        class="form-control" id="nomeutente" name="nomeutente" placeholder="Inserisci il nome utente"
                        required #nome="ngModel" /></label>

                        <div class="form-group" *ngIf="(nome.dirty || nome.touched) && nome.invalid" >
                        <span class="warning-text alert-danger"  style="color: #d61e3d">Il nome utente non è valido
                        </span>
                      </div>
            </div>

      <div class="form-group">
        <label for="email" class="text-center w-50"
          >Email<input
            type="text"
            [(ngModel)]="user.email"
            class="form-control"
            id="email"
            name="email"
            placeholder="Inserisci l'indirizzo email"
            required
            #email="ngModel"
        /></label>

        <div>
          <label [hidden]="!email.pristine" class="alert alert-danger">
            E' richiesto l'inserimento della email
          </label>
        </div>
      </div>
    </div>

                        <div class="form-group" *ngIf="(email.dirty || email.touched) && email.invalid" >
                         <span class="warning-text alert-danger"  style="color: #d61e3d">L'email non è valida
                        </span>

                      </div>

        <div>
          <label [hidden]="!password.pristine" class="alert alert-danger">
            E' richiesto l'inserimento della password
          </label>
        </div>
      </div>

        <div class="col-12 text-center">
            <div class="form-group ">
                <label for="password" class="text-center w-25">Password<input type="password"
                        [(ngModel)]="utente.password" class="form-control" id="password" name="password"
                        placeholder="Inserisci la password" required #password="ngModel" /></label>

                        <div class="form-group" *ngIf="(password.dirty || password.touched) && password.invalid" >
                        <span class="warning-text alert-danger"  style="color: #d61e3d">La password non è valida
                        </span>
                      </div>

            </div>
            <div class="form-group ">
            <label for="password" class="text-center w-25">Conferma Password
              <input type="password" ngValidateEqual="password" class="form-control" #ConfirmPassword="ngModel" name="confirmPassword"
                [(ngModel)]="utente.confirmPassword" placeholder="Conferma password"/></label>
            </div>
            
            <div class="form-group" *ngIf="(ConfirmPassword.dirty || ConfirmPassword.touched) && ConfirmPassword.invalid">
                <span class="warning-text alert-danger"  style="color: #d61e3d"
                *ngIf="ConfirmPassword.hasError('notEqual') && password.valid">Le password non corrispondono
                </span>
            </div>
         </div>

    </div>
  </div>




    <div class="row">
        <div class="col-md-12 text-center">
            <button type="submit" [disabled]="!utenteform.form.valid" class="btn btn-info">Registra</button>
        </div>
    </div>
  </div>
</form>
