<!--<form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
  <div class="row">

    <div class="col-12 text-center">
      <div class="form-group">

        <label for="username" class="text-center w-25"
          >Nome Utente<input
            type="text"
            [ngModel]="username"
            class="form-control"
            id="username"
            name="username"
            placeholder="Inserisci il nome utente"
            required
            #name="ngModel"
        /></label>


      <div
          class="form-group"
          *ngIf="(username.dirty || username.touched) && username.invalid"
        > 
          <span class="warning-text alert-danger" style="color: #d61e3d;"
            >Il nome utente non è valido
          </span>
        </div>
      </div>

      <div class="form-group">
        <label for="email" class="text-center w-25"
          >Email
          <input
            type="text"
            [ngModel]="email"
            class="form-control"
            id="email"
            name="email"
            placeholder="Inserisci l'indirizzo email"
            required
            #email="ngModel"
        /></label>
        <div
          class="form-group"
          *ngIf="(email.dirty || email.touched) "
        >
          <span class="warning-text alert-danger" style="color: #d61e3d;"
            >L'email non è valida
          </span>
        </div>

        

      <div class="col-12 text-center">
        <div class="form-group">
          <label for="password" class="text-center w-25">Password
          <input
            type="password"
            [ngModel]="password"
            class="form-control"
            id="password"
            name="password"
            placeholder="Inserisci la password"
            required
            pattern="^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)[a-zA-Z\d]{8,15}"
            #password="ngModel"
          /></label>
          
        </div>

        <div
            class="form-group"
            *ngIf="(password.dirty || password.touched) && password.invalid"
          >
            <span class="warning-text alert-danger" style="color: #d61e3d;"
              >La password non è valida
            </span>
          </div>
        </div>
        <div class="form-group">
          <label for="password" class="text-center w-25"
            >Conferma Password
            <input
              type="password"
              ngValidateEqual="password"
              class="form-control"
              #confermaPassword="ngModel"
              name="confermaPassword"
              [ngModel]="confermaPassword"
              placeholder="Conferma password"
              pattern="^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)[a-zA-Z\d]{8,15}"
          /></label>
        </div>

       <div
          class="form-group"
          *ngIf="
            (confermaPassword.dirty || confermaPassword.touched) &&
            confermaPassword.invalid
          "
        >
          <span
            class="warning-text alert-danger"
            style="color: #d61e3d;"
            *ngIf="confermaPassword.hasError('notEqual') && password.valid"
            >Le password non corrispondono
          </span>
        </div>
      </div>

      <div class="row">
        <div class="col-md-12 text-center">
          <div class="form-group">
            <button [disabled]="loading" class="btn btn-primary">
                <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
                Register
            </button>
            <a routerLink="/login" class="btn btn-link">Cancel</a>
        </div>
        </div>
      </div>
    </div>
  </div>
</form>-->
<!-- NUOVA VERSIONE CODICE -->

<form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
  <div class="row">
      <div class="col-12 text-center">
        <div class="form-group">
          <label class="text-center w-25" for="username"
            >Username
            <input
              type="text"
              formControlName="username"
              class="form-control"
            />
            <div
              *ngIf="submitted && f.username.errors"
              class="invalid-feedback"
            >
              <div *ngIf="f.username.errors.required">username is required</div>
            </div></label
          >
        </div>
        <div class="form-group">
          <label class="text-center w-25" for="email"
            >E-mail
            <input type="text" formControlName="email" class="form-control" />
            <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
              <div *ngIf="f.email.errors.required">E-mail is required</div>
              <div *ngIf="f.email.errors.email">E-mail not valid</div>
            </div></label
          >
        </div>
        <div class="form-group">
          <label class="text-center w-25" for="password"
            >Password
            <input
              type="password"
              formControlName="password"
              class="form-control"
            />
            <div
              *ngIf="submitted && f.password.errors"
              class="invalid-feedback"
            >
              <div *ngIf="f.password.errors.required">Password is required</div>
              <div *ngIf="f.password.errors.pattern">Invalid Password</div>
            </div></label
          >
        </div>
        <div class="form-group">
          <label class="text-center w-25" for="confermaPassword"
            >Conferma Password
            <input
              type="password"
              formControlName="confermaPassword"
              class="form-control"
            />
            <div
              *ngIf="submitted && f.confermaPassword.errors"
              class="invalid-feedback"
            >
              <div *ngIf="f.confermaPassword.errors.required">
                Password is required
              </div>
            </div></label
          >
        </div>
        <div class="form-group">
          <button [disabled]="loading" class="btn btn-primary">
            <span
              *ngIf="loading"
              class="spinner-border spinner-border-sm mr-1"
            ></span>
            Register
          </button>
          <a routerLink="/utenti/users/register" class="btn btn-link">Cancel</a>
        </div>
      </div>
    </div>
</form>
