<form (ngSubmit)="onSubmit()" #utenteform="ngForm">
    <div class="row">
        <div class="col-12 text-center">
            <div class="form-group">

                <label for="nome" class="text-center w-25">Nome Utente<input type="text" [(ngModel)]="utente.nomeutente"
                        class="form-control" id="nomeutente" name="nomeutente" placeholder="Inserisci il nome utente"
                        required #nome="ngModel" /></label>

                        <div
                        *ngIf="(nome.dirty || nome.touched) && nome.invalid" >
                        <p class="warning-text">Il nome utente non è valido
                        </p>
                      </div>
            </div>


            <div class="form-group ">
                <label for="email" class="text-center w-25">Email<input type="text" [(ngModel)]="utente.email"
                        class="form-control" id="email" name="email" placeholder="Inserisci l'indirizzo email" required
                        #email="ngModel" /></label>

                        <div
                        *ngIf="(email.dirty || email.touched) && email.invalid" >
                        <p class="warning-text">L'email non è valida
                        </p>
                      </div>

            </div>
        </div>

        <div class="col-12 text-center">
            <div class="form-group ">
                <label for="password" class="text-center w-25">Password<input type="password"
                        [(ngModel)]="utente.password" class="form-control" id="password" name="password"
                        placeholder="Inserisci la password" required #password="ngModel" /></label>

                        <div
                        *ngIf="(password.dirty || password.touched) && password.invalid" >
                        <p class="warning-text">La password non è valida
                        </p>
                      </div>

            </div>
            <div class="form-group ">
            <label for="password" class="text-center w-25">Conferma Password
              <input type="password" ngValidateEqual="password" class="form-control" #ConfirmPassword="ngModel" name="confirmPassword"
                [(ngModel)]="utente.confirmPassword" placeholder="Conferma password"/></label>
            </div>
              <div
                *ngIf="(ConfirmPassword.dirty || ConfirmPassword.touched) && ConfirmPassword.invalid">
                <p class="warning-text" *ngIf="ConfirmPassword.hasError('notEqual') && password.valid"
                >Le password non corrispondono
                </p>
              </div>
            

        </div>
    </div>



    <div class="row">
        <div class="col-md-12 text-center">
            <button type="submit" [disabled]="!utenteform.form.valid" class="btn btn-info">Registra</button>
        </div>
    </div>
</form>