@import url("https://fonts.googleapis.com/css?family=Coda+Caption:800");

#background {
  /*impostazione sfondo*/
  background-image:url("../../assets/pictures_of_game_menu/stylus-hex-bg-sea-color-final.jpg");
  height: 625px;/*l'immagine non è responsive al momento con questa opzione*/
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: cover;
}    

#indice_modalita {
  font-size: 8mm;
  font-family: cursive;
  color: #61d5ea;
  text-shadow: 1px 1px 3px #1871f5, -1px 1px 3px #1871f5, 1px -1px 3px #1871f5,
    -1px -1px 3px #1871f5;
}

#bot {
  /*immaggine sul tasto robot*/
  background-image: url("../../assets/pictures_of_game_menu/fish-378286_1920.jpg");
  font-size: 6.5mm;
}

#friend {
  /*immagine sul tasto amico/a*/
  background-image: url("../../assets/pictures_of_game_menu/zitronenfalter-fish-380037_1920.jpg");
  font-size: 6.5mm;
}

button {
  /*settagio dei due tasti-immagini dimensione,stile,effetti*/
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 60mm;
  height: 30mm;
  border-radius: 3mm;
  border: transparent;
  font-family: cursive;
  font-size: 7.5mm;
  color: #46dbf5;
  text-shadow: 1px 1px 3px #1345eb, -1px 1px 3px #1345eb, 1px -1px 3px #1345eb,
    -1px -1px 3px #1345eb;
  box-shadow: 1px 1px 3px #266ee2, -1px 1px 3px #266ee2, 1px -1px 3px #266ee2,
    -1px -1px 3px #266ee2, 2px 2px 3px #266ee2, -2px 2px 3px #266ee2,
    2px -2px 3px #266ee2, -2px -2px 3px #266ee2;
  transition-duration: 0.4s;
}

button:hover {
  box-shadow: 1px 1px 3px #6ac4ea, -1px 1px 3px #6ac4ea, 1px -1px 3px #6ac4ea,
    -1px -1px 3px #6ac4ea, 2px 2px 3px #6ac4ea, -2px 2px 3px #6ac4ea,
    2px -2px 3px #6ac4ea, -2px -2px 3px #6ac4ea;
  color: #16b4f7;
}

#panel {
  border: transparent;
  border-radius: 5mm;
  position: relative;
  top: 15mm;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

span.fa {
  font-size: 9.5mm;
  color: #61d5ea;
  text-shadow: 1px 1px 3px #1871f5, -1px 1px 3px #1871f5, 1px -1px 3px #1871f5,
    -1px -1px 3px #1871f5, 2px 2px 3px #1871f5, -2px 2px 3px #1871f5,
    2px -2px 3px #1871f5, -2px -2px 3px #1871f5;
}

span.fa:hover {
  color: #0a3aa2;
  text-shadow: 1px 1px 3px #6ac4ea, -1px 1px 3px #6ac4ea, 1px -1px 3px #6ac4ea,
    -1px -1px 3px #6ac4ea, 2px 2px 3px #6ac4ea, -2px 2px 3px #6ac4ea,
    2px -2px 3px #6ac4ea, -2px -2px 3px #6ac4ea;
}

.title {
  font-size: 13mm;
  font-family: "Coda Caption", sans-serif;
  color: #61d5ea;
  text-shadow: 1px 1px 3px #1871f5, -1px 1px 3px #1871f5, 1px -1px 3px #1871f5,
    -1px -1px 3px #1871f5;
  line-height: 1;
  letter-spacing: 0.01em;
  transform: perspective(350px) scaleY(1.5) rotateX(-30deg);
}
