.posizionamento_login{
    text-align: center;
}

.label_font{
    font-weight: bolder;
}

.button_login{
background-color: transparent;
border-color: transparent;
}

.button_back {
    margin-top: 150px;
  }
