<div class="container">
   <div class="d-flex justify-content-center h-100">
      <div class="card w-48 button_login">



         <div class="input-group form-group">
            <div class="input-group-prepend">
               <span class="input-group-text"><i class="fas fa-user"></i></span>
            </div>
            <input type="text" class="form-control" [(ngModel)]="username" placeholder="nome utente">

         </div>



         <div class="input-group form-group">
            <div class="input-group-prepend">
               <span class="input-group-text"><i class="fas fa-key"></i></span>
            </div>
            <input type="password" class="form-control" [(ngModel)]="password" placeholder="password">
         </div>

         <div class="input-group form-group justify-content-center">
            <button  type="button" class="btn btn-info"  [routerLink]="percorso" (click)="controlloCredenziali()">Accedi</button>
         </div>


      </div>
   </div>
</div>



<div class="text-center">

   <div class="text-center">
      <div *ngIf="controllo">
            <label class="alert alert-danger"> Attenzione! Il nome utente e la password sono errati</label>
         </div>
      
   </div>


   <label>Non hai un account?</label><a type="link" routerLink="/registrazione"> Registrati</a>


</div>