<div class="container-fluid sfondo_landing">
  <div align="center" style="top: 150px; position: relative;">
    <iframe
      width="700"
      height="400"
      src="https://www.youtube.com/embed/Frel0gC4zgo"
      frameborder="0"
      allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
      allowfullscreen
    ></iframe>
  </div>

  <button routerLink="/" class="btn btn-info mr-4 button_menu" style="left: 1180px; bottom: -50px; position: relative;">
    <div class="row justify-content-center py-4">
      Torna alla<br> 
      pagina principale
    </div>
    <div class="bolla1 list-inline-item">
      <div class="bolla2 list-inline-item">
        <div class="bolla4 list-inline-item">
          <div class="bolla5 list-inline-item"></div>
        </div>
      </div>
    </div>

    <div class="bolla3 list-inline-item"></div>
  </button>
</div>
