<html>
  <div class="container-fluid sfondo_landing">
    <div>
    <form (ngSubmit)="onSubmit()" #f="ngForm">
    <div class="form">
      <div class="d-flex justify-content-center h-100">
        <div class="card w-48 form_login">
          <div class="input-group form-group">
            <div class="input-group-prepend">
              <span class="input-group-text"><i class="fas fa-user"></i></span>
            </div>
            <input
            type="text" 
            id="username"
            class="form-control"
            ngModel
            placeholder="Username"
            name="username"
            required
                      
            />
            <!-- <input
            type="text" formControlName="username" class="form-control"
              ngModel
              matInput
              placeholder="Username"
              [(ngModel)]="username"
              name="username"
              required
              minlength="5"
            maxlength="15"
            /> -->
          </div>
          <div class="input-group form-group">
            <div class="input-group-prepend">
              <span class="input-group-text"><i class="fas fa-key"></i></span>
            </div>
            <input
            type="password" 
            id="password"
            class="form-control"
            ngModel
            placeholder="Password"
            type="password"
            name="password"
            required
            
            />
            <!-- <input
            type="password" 
            formControlName="password" 
            class="form-control"
            placeholder="Password"
            [(ngModel)]="password"
            type="password"
            name="password"
            required
            pattern="^(?=.[a-z])(?=.[A-Z])(?=.[0-9])(?=.{8,15})"
            /> -->
          </div>

          <script>
            function play() {
              var audio = document.getElementById("glug");
              audio.play();
            }
          </script>
          <audio id="glug" src="assets/music/glug.wav"></audio>

          <div class="input-group form-group justify-content-center">
            <button
              onclick="javascript: document.getElementById('glug').play();"
              type="button"
              class="btn btn-info button_accedi"
              (click)="checkLogin()"
            >
              Accedi
            </button>
          </div>
        </div>
      </div>
    </div>
  </form>
</div>

<div class="text-center">
  <div class="text-center">
    <div *ngIf="invalidLogin">
      <label class="alert alert-danger">
        Attenzione! Il nome utente o la password sono errati</label
      >
    </div>
  </div>

  <label>Non hai un account?</label
  ><a
    onclick="javascript: document.getElementById('glug').play();"
    type="link"
    routerLink="/registrazione"
    href="/registrazione"
    (click)="aggiornaStringa('Effettua la registrazione')"
    style="color: #140d79;"
    >Registrati</a
  >

  <!-- <div class="row">
    <div class="col-md-12">
      <div class="text-right">
        <button
          onclick="javascript: document.getElementById('glug').play();"
          type="button"
          routerLink="/"
          class="btn btn-info button_back"
          (click)="updateData(bottoneLanding)"
        >
          Torna alla pagina precedente
        </button>
      </div>
    </div>
  </div> -->
</div>
</div>
</html>
