#background {
  background-image: url("../../assets/Images/nardeen-hamad-SIs5c2ISvvk-unsplash.jpg");
  background-size: 1366px 1366px;
  background-repeat: no-repeat;
  background-position: center;
}
body{
  height: 571px;
  margin: 0%;
}

#title {
  /*Il titolo in grande del gioco*/
  font-size: 14mm;
  text-shadow: 1px 1px 2px #9adcf8, -1px 1px 2px #9adcf8, 1px -1px 2px #9adcf8,
    -1px -1px 2px #9adcf8;
  color: transparent;
  transform: skewY(-1deg);
  font-family: cursive;
}

#title_of_rules {
  /*stile e font delle regole*/
  font-size: 8mm;
  color: transparent;
  width: 180mm;
  text-shadow: 1px 1px 1px #5b79ff, 1px 2px 1px #28bef0, 2px 1px 1px #28bef0,
    2px 1px 1px #28bef0;
  font-family: cursive;
}

button {
  font-size: 10mm;
  color: white;
  background-color: transparent;
  border-color: transparent;
  font-family: cursive;
}

button:hover {
  background: #0a1da7;
  border-radius: 2.5mm;
}
