<html>
  <head>
    <meta charset="utf-8" />

    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <link href="classifica.component.css" type="text/css" rel="stylesheet" />
  </head>

  <body>
    <div class="container">
      <div class="row">
        <div class="col-lg justify-content-center">
          <div *ngIf="show" >-->
          <table class="table table-lg ">
            <div class="scroll">
            <tr>
              <th scope="col"> </th>
              <th scope="col">Nome</th>
              <th scope="col" >Partite giocate</th>
              <th scope="col">Percentuale vittorie</th>
            </tr>
            <tbody>
                <tr class="content">
                <td scope="row"> Maurizio </td>
                <td scope="row">47</td>
                <td scope="row"> 30% </td> 
                <td scope="row"> john1234567 </td>
                <td scope="row"> 210 </td>
                <td scope="row"> 86% </td>
                <td scope="row"> Marco </td>
                <td scope="row"> 2 </td>
                <td scope="row"> 50% </td>
                <td scope="row"> Come osi </td>
                <td scope="row"> dire che </td>
                <td scope="row"> non ho messo le immagini!!! </td>
              </tr>
            </tbody>
          </div>
          </table>
          </div>
          </div>
          </div>
    </div>
  </body>
</html>
