.sfondo_rules{
    background-image:URL("../../assets/images/sfondo-blu.jpg");
    background-size:cover;
    height: 100%;
}

@font-face{
    font-family: 'goiabada';
    src: url('../../assets/fonts/GOIABADA.TTF') format('truetype');
  }


.title {
    font-size: 70px;
    font-family: 'goiabada';
    text-align: center;
    padding: 0px;
    color:#1407cc;
    text-shadow: 3px 3px  #ffa4f7;
}

.font_istruzioni{
    margin-top: 80px;
    text-justify: auto;
    font-size: 22px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color:#ffa4f7;
}

.button{
    margin-bottom: 100px;
    margin-top: 100px;
    color: yellow;
    box-shadow: 3px 3px 3px #000000;
    border: solid 3px #0076a3;
}
