.sfondo_rules{
    background-image:URL("../../assets/images/sfondo-blu.jpg");
    background-size:cover;
    height: 100%;
}

@font-face{
    font-family: 'manicsea';
    src: url('../../assets/fonts/ManicSea.ttf') format('truetype');
  }


.title {
    font-size: 70px;
    font-family: 'manicsea';
    text-align: center;
    padding: 0px;
    color:#ee6409;
    text-shadow: 3px 3px 3px #0c0b0b;
}

.font_istruzioni{
    text-justify: auto;
    font-size: 25px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color:#000000;
}

.button{
    margin-bottom: 100px;
    margin-top: 100px;
    color: yellow;
    box-shadow: 3px 3px 3px #000000;
    border: solid 3px #0076a3;
}
