<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />

    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />

    <link href="match-page.component.css" type="text/css" rel="stylesheet" />
  </head>

  <body>
    <div class="container">
      <div class="col-md justify-content-center">
        <p class="title">Partita</p>
      </div>
    </div>
    <div class="container" id="contenuto">
      <div class="row justify-content-center">
        <div class="panel-game ">
          
        </div>
        <div class="panel-chat ">
          
        </div>
      </div>
    </div>
  </body>
</html>
