/*ctrl+k+0 per chiudere tutte le classi*/
.sfondo_landing {
  background-image: url("../../assets/Stile-della-partita/Pictures/caverna-marina.jpg");
  overflow: auto;
  background-size: cover;
  height: 100%;
  position: fixed;
}

html {
  height: 100%;
}

span {
  font-size: 25mm;
}

[data-tooltip] {
  position: relative;
  z-index: 2;
  cursor: pointer;
}

[data-tooltip]:before {
  visibility: hidden;
}

/* Show tooltip content on hover */
[data-tooltip]:hover:before {
  transition-delay: 1s;
  visibility: visible;
}

/* Position tooltip above the element */
[data-tooltip]:before {
  position: absolute;
  bottom: 5mm;
  left: 25mm;
  width: 20mm;
  background-image: transparent;
  color: #fff;
  content: attr(data-tooltip);
  text-align: center;
  font-size: 6mm;
  line-height: 1.2;
  font-family: "friendly_school", cursive;
}

@font-face {
  font-family: "friendly_school";
  src: url("../../assets/Stile-della-partita/Fonts/friendly_schoolmates_regular_font_by_situjuh_7ntypes-webfont.woff2")
      format("woff2"),
    url("../../assets/Stile-della-partita/Fonts/friendly_schoolmates_regular_font_by_situjuh_7ntypes-webfont.woff")
      format("woff");
  font-weight: normal;
  font-style: normal;
}

.title {
  font-size: 22mm;
  font-family: "friendly_school", cursive;
  color: #50d9f1;
  text-shadow: 1px 1px 3px #1871f5, -1px 1px 3px #1871f5, 1px -1px 3px #1871f5,
    -1px -1px 3px #1871f5, 2px 2px 3px #1871f5, -2px 2px 3px #1871f5,
    2px -2px 3px #1871f5, -2px -2px 3px #1871f5;
  line-height: 1;
  letter-spacing: 0.1em;
  text-align: center;
  padding-top: 5mm;
}

.ambienti {
  /*pannello principalle che contiene le 4 colonne*/
  display: flex;
  width: 220mm;
  height: 160mm;
  margin: auto;
  border: 1px solid rgb(0, 255, 213);
  border-top-left-radius: 0mm;
  border-top-right-radius: 0mm;
  border-bottom-left-radius: 3mm;
  border-bottom-right-radius: 3mm;
  box-shadow: 1px 1px 3px rgb(81, 200, 247), 1px -1px 3px rgb(81, 200, 247),
    -1px 1px 3px rgb(81, 200, 247), -1px -1px 3px rgb(81, 200, 247),
    2px 1px 3px rgba(0, 77, 243), 2px -2px 3px rgba(0, 77, 243),
    -2px 2px 3px rgba(0, 77, 243), -2px -2px 3px rgba(0, 77, 243),
    3px 3px 3px rgb(81, 200, 247), 3px -3px 3px rgb(81, 200, 247),
    -3px 3px 3px rgb(81, 200, 247), -3px -3px 3px rgb(81, 200, 247);
}

.ambienti > div {
  /*settaggi comuni a tutte le 4 colonne in un colpo solo*/
  width: 55mm;
  height: inherit;
}

.distese-di-sabbia {
  /*una delle quattro colonne*/
  background-image: url("../../assets/Stile-della-partita/Pictures/background-sabbia.jpg");
  border-top-left-radius: inherit;
  border-bottom-left-radius: inherit;
  border-right: 2px solid rgb(0, 255, 213);
  background-position: bottom;
}

.funghi-del-mare {
  /*una delle quattro colonne*/
  background-image: url("../../assets/Stile-della-partita/Pictures/background-blue-water-coral.jpg");
  border-right: 2px solid rgb(0, 255, 213);
  background-position: top;
  background-repeat: no-repeat;
}

.fondali-vulcanici {
  /*una delle quattro colonne*/
  background-image: url("../../assets/Stile-della-partita/Pictures/coral-plants.jpg");
  border-right: 2px solid rgb(0, 255, 213);
  background-repeat: no-repeat;
  background-size: 220mm;
  background-position: bottom;
}

.caverne-luminose {
  /*una delle quattro colonne*/
  background-image: url("../../assets/Stile-della-partita/Pictures/diving-anemone.jpg");
  background-position: center;
  border-top-right-radius: inherit;
  border-bottom-right-radius: inherit;
}

.panelli {
  /*colui che contiente il tutto*/
  /*border: 2px solid white;
  da togliere*/
  height: 0;
}

.pannello-delle-carte {
  /*pannello principale che contiene le carte*/
  justify-content: center;
  display: flex;
  color: white;
  width: 219.5mm;
  height: 35mm;
  margin: auto;
  position: relative;
  bottom: 209.7mm;
  left: 0.1mm;
  border-top: 4px solid rgb(83, 232, 243);
  border-top-left-radius: 75mm;
  border-top-right-radius: 75mm;
  border-bottom-left-radius: 4mm;
  border-bottom-right-radius: 4mm;
  border-bottom: 1px solid rgb(0, 255, 213);
  background-image: linear-gradient(
    to bottom right,
    rgb(24, 118, 241),
    rgb(112, 197, 236)
  );
}

.pannello-dei-tasti {
  /*pannello principale che contiene i tasti*/
  background-color: aqua;
  color: aliceblue;
  width: 35mm;
  height: 80.4mm;
  margin: auto;
  position: relative;
  left: 128.8mm;
  bottom: 323.1mm;
  border: 1px solid rgb(0, 255, 213);
  border-top-right-radius: 3mm;
  border-bottom-right-radius: 3mm;
  border-left: 1px solid rgb(0, 255, 213);
  box-shadow: 1px 1px 3px rgb(81, 200, 247), 1px -1px 3px rgb(81, 200, 247),
    -1px 1px 3px rgb(81, 200, 247), -1px -1px 3px rgb(81, 200, 247),
    2px 1px 3px rgba(25, 93, 240, 0.856), 2px -2px 3px rgba(0, 77, 243),
    -2px 2px 3px rgba(0, 77, 243), -2px -2px 3px rgba(0, 77, 243),
    3px 3px 3px rgb(81, 200, 247), 3px -3px 3px rgb(81, 200, 247),
    -3px 3px 3px rgb(81, 200, 247), -3px -3px 3px rgb(81, 200, 247);
}

.panelli .pannello-dei-tasti button {
  /*stile ed effetto per i tasti all'interno del pannello dei tasti*/
  border: transparent;
  border-bottom: 2px solid rgb(0, 255, 213);
  font-size: 6.5mm;
  height: 20mm;
  font-family: cursive;
  width: 34.4mm;
  color: aquamarine;
  outline: none;
  background-image: linear-gradient(
    to top left,
    rgb(101, 177, 221),
    rgb(47, 151, 211)
  );
  text-shadow: 1px 1px 3px rgb(55, 127, 194), 1px -1px 3px rgb(55, 127, 194),
    -1px -1px 3px rgb(55, 127, 194), -1px 1px 3px rgb(55, 127, 194);
}

.panelli .pannello-dei-tasti button:hover {
  /*stile ed effetto per i tasti all'interno del pannello dei tasti*/
  color: rgb(63, 235, 241);
  background-image: linear-gradient(
    to top left,
    rgb(56, 158, 218),
    rgb(47, 85, 211)
  );
}

.pannello-scarti {
  position: relative;
  bottom: 160mm;
  right: 126.2mm;
  border-top-left-radius: 3mm;
  border-bottom-left-radius: 3mm;
  background-image: linear-gradient(
    to bottom right,
    rgb(24, 118, 241),
    rgb(61, 194, 255),
    rgb(160, 255, 255)
  );
}

.pannello-coperte{
  justify-content: center;
  padding: 1mm;
  padding-top: 5mm;
  width: 30mm;
  height: 45mm;
  margin: auto;
  border: 1px solid rgb(0, 255, 213);
  box-shadow: 1px 1px 3px rgb(81, 200, 247), 1px -1px 3px rgb(81, 200, 247),
    -1px 1px 3px rgb(81, 200, 247), -1px -1px 3px rgb(81, 200, 247),
    2px 1px 3px rgba(25, 93, 240, 0.856), 2px -2px 3px rgba(0, 77, 243),
    -2px 2px 3px rgba(0, 77, 243), -2px -2px 3px rgba(0, 77, 243),
    3px 3px 3px rgb(81, 200, 247), 3px -3px 3px rgb(81, 200, 247),
    -3px 3px 3px rgb(81, 200, 247), -3px -3px 3px rgb(81, 200, 247);
    position: relative;
    bottom: 159.9mm;
    left: 126.3mm;
    border-top-right-radius: 3mm;
    border-bottom-right-radius: 3mm;
    background-image: linear-gradient(
      to top left,
      rgb(160, 255, 255),
      rgb(61, 194, 255),
      rgb(24, 118, 241)
    );
}

.pannello-coperte .mazzo-coperte,
.pannello-scarti .mazzo-scarti {
  /*definisce la forma dei due sottopannelli in comune*/
  width: 23mm;
  height: 34mm;
  /* border: 1px solid rgb(255, 255, 255);  */
  background: transparent;
  position: relative;
  left: 3mm;
  top: 4mm;
  outline: none;
}

.mazzo-scarti div,
.mazzo-coperte div {
  /*opzioni comuni per le carte degli scarti e delle pesche*/
  width: 15mm;
  height: 24mm;
  border: transparent;
  border-radius: 1mm;
  margin: auto;
  cursor: default;
}

.carte-rimaste {
  /*indica quante carte sono rimaste nel mazzo coperto*/
  width: 0mm;
  height: 0mm;
  font-size: 8mm;
  font-family: "friendly_school", cursive;
  border-radius: 2mm;
  color: #8ef0f5;
  position: relative;
  left: 1.4mm;
  bottom: 6mm;
}

.mazzo-scarti div {
  /*gestione dei sotto elementi div per questa classe*/
  position: relative;
  margin: auto;
  font-size: 10mm;
  text-align: center;
  color: white;
  font-family: "friendly_school", cursive;
  border: 1px solid white;
}

.mazzo-scarti div:hover {
  box-shadow: 1px 1px 3px white, -1px 1px 3px white, 1px -1px 3px white,
    -1px -1px 3px white;
}

.pannello-degli-scarti {
  position: relative;
  width: 60mm;
  height: 130mm;
  right: 142mm;
  margin: auto;
  bottom: 205mm;
  border-radius: 3mm;
  border-top-right-radius: 1mm;
  border-bottom-right-radius: 1mm;
  background-image: linear-gradient(
    to bottom right,
    rgb(24, 118, 241),
    rgb(61, 194, 255),
    rgb(160, 255, 255)
  );
  border: 1px solid rgb(0, 255, 213);
  box-shadow: 1px 1px 3px rgb(81, 200, 247), 1px -1px 3px rgb(81, 200, 247),
    -1px 1px 3px rgb(81, 200, 247), -1px -1px 3px rgb(81, 200, 247),
    2px 1px 3px rgba(25, 93, 240, 0.856), 2px -2px 3px rgba(0, 77, 243),
    -2px 2px 3px rgba(0, 77, 243), -2px -2px 3px rgba(0, 77, 243),
    3px 3px 3px rgb(81, 200, 247), 3px -3px 3px rgb(81, 200, 247),
    -3px 3px 3px rgb(81, 200, 247), -3px -3px 3px rgb(81, 200, 247);
  display: grid;
  grid-template-columns: 8mm 8mm 8mm 8mm 8mm 8mm;
  padding-top: 3mm;
  padding-left: 2mm;
}
.pannello-degli-scarti div {
  cursor: default;
  width: 12mm;
  height: 21mm;
  border-radius: 1mm;
  font-size: 8mm;
  text-align: center;
  color: white;
  font-family: "friendly_school", cursive;
  border: 1px solid white;
}

.pannello-degli-scarti div:hover {
  box-shadow: 1px 1px 2px white, -1px 1px 2px white, 1px -1px 2px white,
    -1px -1px 2px white;
}

.mazzo-coperte div {
  /*gestione delle carte del mazzo coperto*/
  position: relative;
  right: 3mm;
  border: 1px solid white;
}

.carte-delle-torri {
  /* border:2px solid white;  */
  width: 53mm;
  height: 66mm;
  bottom: 4.5mm;
  padding-left: 2mm;
  position: relative;
  cursor: default;
}

.carte-delle-torri div {
  position: absolute;
  left: 10mm;
  width: 12mm;
  height: 21mm;
  border-radius: 1mm;
  font-size: 8mm;
  text-align: center;
  color: white;
  font-family: "friendly_school", cursive;
  /* border: 1px solid white;  */
  border: transparent;
}

.carte-delle-torri-avversario {
  /* border:2px solid red;    */
  width: 53mm;
  height: 66mm;
  padding-left: 2mm;
  position: relative;
  cursor: default;
}

.carte-delle-torri-avversario div {
  position: absolute;
  right: 10mm;
  width: 12mm;
  height: 21mm;
  border-radius: 1mm;
  font-size: 8mm;
  text-align: center;
  color: white;
  font-family: "friendly_school", cursive;
  /* border: 1px solid red;  */
}

.mazzo-coperte div:hover {
  box-shadow: 1px 1px 3px white, -1px 1px 3px white, 1px -1px 3px white,
    -1px -1px 3px white;
}

.messaggioDiAvviso {
  /*messaggio di errore che appare quando si tenta di pescare una carta dal mazzo coperto,quando nel
  mazzo si hanno ancora 4 carte*/
  font-size: 8mm;
  font-family: "friendly_school", cursive;
  color: #40e0fc;
  text-shadow: 1px 1px 3px #1871f5, -1px 1px 3px #1871f5, 1px -1px 3px #1871f5,
    -1px -1px 3px #1871f5, 2px 2px 3px #1871f5, -2px 2px 3px #1871f5,
    2px -2px 3px #1871f5, -2px -2px 3px #1871f5;
  line-height: 1;
  letter-spacing: 0.01em;
  text-align: center;
  padding-top: 5mm;
  width: 58mm;
  height: 30mm;
  position: absolute;
  left: 1.5mm;
  bottom: 2mm;
}

.pannello-del-messaggio-di-avviso {
  /* border:solid 2px white; */
  position: relative;
  width: 50mm;
  height: 30mm;
  right: 76mm;
  top: 3mm;
  margin: auto;
}

.mazzo {
  /*pannello principale delle carte*/
  /* border: 2px solid white; */
  width: 150mm;
  height: 37mm;
  display: grid;
  grid-template-columns: auto auto auto auto;
  grid-gap: 40px;
  padding: 20px;
  justify-content: center;
  right: 27mm;
  position: absolute;
}

.mazzo div {
  /*settaggio comune a tutte le tre carte,dimensioni e spazi tra di loro*/
  width: 15mm;
  height: 24mm;
  border-radius: 1mm;
  outline: none;
  font-size: 10mm;
  text-align: center;
  color: white;
  font-family: "friendly_school", cursive;
  border: 1px solid white;
  cursor: default;
}

.Quadrato {
  background-image: linear-gradient(
    to bottom,
    rgb(212, 198, 0),
    rgb(253, 255, 108),
    rgb(212, 198, 0)
  );
}

.Triangolo {
  background-image: linear-gradient(
    to bottom,
    rgb(30, 135, 255),
    rgb(117, 238, 247),
    rgb(30, 135, 255)
  );
}

.Cerchio {
  background-image: linear-gradient(
    to bottom,
    rgb(248, 97, 223),
    rgb(247, 158, 247),
    rgb(248, 97, 223)
  );
}

.Ancora {
  background-image: linear-gradient(
    to bottom,
    rgb(255, 153, 57),
    rgb(240, 224, 138),
    rgb(255, 153, 57)
  );
}

.Punta {
  background-image: radial-gradient(rgb(0, 247, 255), rgb(120, 65, 247));
}

.Carta-misteriosa {
  background-image: linear-gradient(
      rgba(196, 186, 104, 0.438),
      rgba(173, 166, 101, 0.438)
    ),
    url("../../assets/images/cartaback.jpg");
  position: relative;
}

.chat {
  display: none; /*al caricamento della pagina non verrà mostrata questo elemento e i suoi sottoelementi*/
  width: 100mm;
  height: 96mm;
  position: relative;
  z-index: 2;
  left: 1110px;
  bottom: 730px;
  border: transparent;
  background-image: linear-gradient(to top right, #0a87e0, #38d2da, #8ef0f5);
  border-top-right-radius: 20mm;
  border-bottom-left-radius: 20mm;
  border-top-left-radius: 8mm;
  border-bottom-right-radius: 8mm;
}

.chat button.close-chat {
  font-size: 8mm;
  color: #006ed6;
  background: transparent;
  position: relative;
  width: 10mm;
  height: 10mm;
  border: transparent;
  outline: none;
}

.chat button.close-chat:hover {
  color: #003cd6;
}

.opzioni {
  display: none; /*al caricamento della pagina non verrà mostrata questo elemento e i suoi sottoelementi*/
  width: 100mm;
  height: 50mm;
  position: absolute;
  left: 295mm;
  top: 80mm;
  z-index: 2;
  border: transparent;
  background-image: linear-gradient(to top right, #0a87e0, #38d2da, #8ef0f5);
  border-top-right-radius: 20mm;
  border-bottom-left-radius: 20mm;
  border-top-left-radius: 8mm;
  border-bottom-right-radius: 8mm;
  font-family: "friendly_school", cursive;
  color: #ffffff;
  text-shadow: 1px 1px 3px #2d64b8, -1px 1px 3px #375581, 1px -1px 3px #4067a0,
    -1px -1px 3px #1871f5, 2px 2px 3px #1871f5, -2px 2px 3px #1871f5,
    2px -2px 3px #1871f5, -2px -2px 3px #1871f5;
  font-size: 24px;
  text-align: justify;
}

.opzioni button.close-opzioni {
  font-size: 8mm;
  color: #006ed6;
  background: transparent;
  position: relative;
  width: 10mm;
  height: 10mm;
  border: transparent;
  outline: none;
}

.opzioni button.close-opzioni:hover {
  color: #1c73c5;
}

.punteggio {
  cursor: default;
  position: relative;
  width: 11mm;
  height: 10mm;
  bottom: 339mm;
  border-top-left-radius: 4.2mm;
  border-top-right-radius: 5mm;
  border-bottom-left-radius: 5mm;
  border-bottom-right-radius: 4.2mm;
  font-size: 8mm;
  font-family: "friendly_school", cursive;
  color: white;
  border: transparent;
  text-align: center;
  margin: auto;
  background-image: radial-gradient(
    rgba(124, 227, 253, 0.932),
    rgba(1, 192, 240, 0.932)
  );
}
.bolla {
  position: absolute;
  bottom: 12mm;
  right: 6mm;
  width: 5.5mm;
  height: 6mm;
  border: 1px solid rgb(1, 192, 240);
  border-radius: 5mm;
  background-image: inherit;
  background-image: radial-gradient(
    rgba(124, 227, 253, 0.932),
    rgba(1, 192, 240, 0.932)
  );
}
.bolla div {
  position: absolute;
  width: 4mm;
  height: 3.6mm;
  left: 10mm;
  top: 3mm;
  border: inherit;
  border-radius: 5mm;
  background-image: inherit;
}
.bolla div div {
  position: absolute;
  width: 2.8mm;
  height: 3mm;
  top: -5mm;
  left: -2mm;
  border: inherit;
  border-radius: 5mm;
  background-image: inherit;
}
.mus {
  padding-right: 0.5cm;
}

.imgcarta {
  height: 40px;
  width: 50px;
  position: relative;
  bottom: 20px;
}

.cartatorre {
  height: 30px;
  width: 40px;
  position: relative;
  margin: auto;
  visibility: hidden;
}

.ima image {
  position: relative;
}

.imgcolonna {
  position: relative;
  width: 60px;
  height: 50px;
}

.punteggio-totale-giocatore ,.punteggio-totale-avversario{
  cursor: default;
  border-radius: 1.5mm;
  background-image: linear-gradient(
    to bottom right,
    rgb(24, 118, 241),
    rgb(61, 194, 255),
    rgb(160, 255, 255)
  );
  width: 20mm;
  height: 12mm;
  font-family: "friendly_school", cursive;
  color: white;
  font-size: 8mm;
  border: transparent;
  text-align: center;
  position: relative;
  box-shadow: 1px 1px 1px rgb(81, 200, 247), 1px -1px 1px rgb(81, 200, 247),
    -1px 1px 1px rgb(81, 200, 247), -1px -1px 1px rgb(81, 200, 247);
  border: 1px solid rgb(0, 255, 213);
  margin: auto;
}
.punteggio-totale-avversario {
  bottom:400mm;
  left:75mm;

}
.punteggio-totale-giocatore{
  bottom:395mm;
  left:75mm;
}
.consiglio-sui-scarti{
  cursor: default;
  font-size: 8mm;
  font-family: "friendly_school", cursive;
  color: #40e0fc;
  text-shadow: 1px 1px 3px #1871f5, -1px 1px 3px #1871f5, 1px -1px 3px #1871f5,
    -1px -1px 3px #1871f5, 2px 2px 3px #1871f5, -2px 2px 3px #1871f5,
    2px -2px 3px #1871f5, -2px -2px 3px #1871f5;
  line-height: 1;
  letter-spacing: 0.01em;
  text-align: center;
  padding-top: 5mm;
  width: 58mm;
  height: 30mm;
  position: relative;
  right: 141mm;
  bottom: 2mm;
  margin: auto;
}

.pannello-del-Vincitore{
     visibility: hidden;   
  cursor: default;
  position: relative;
  width: 140mm;
  height: 100mm;
  margin: auto;
  bottom: 40mm;
  border-radius: 3mm;
  background-image: linear-gradient(
    to bottom right,
    rgba(24, 118, 241, 0.904),
    rgb(61, 194, 255,0.904),
    rgb(160, 255, 255,0.904)
  );
  border-bottom-left-radius: 1mm;
  border-bottom-right-radius: 1mm;
  border: 1px solid rgb(0, 255, 213);
  box-shadow: 1px 1px 3px rgb(81, 200, 247), 1px -1px 3px rgb(81, 200, 247),
    -1px 1px 3px rgb(81, 200, 247), -1px -1px 3px rgb(81, 200, 247),
    2px 1px 3px rgba(25, 93, 240, 0.856), 2px -2px 3px rgba(0, 77, 243),
    -2px 2px 3px rgba(0, 77, 243), -2px -2px 3px rgba(0, 77, 243),
    3px 3px 3px rgb(81, 200, 247), 3px -3px 3px rgb(81, 200, 247),
    -3px 3px 3px rgb(81, 200, 247), -3px -3px 3px rgb(81, 200, 247);
    font-family: "friendly_school", cursive;
    color: #50d9f1;
    text-shadow: 1px 1px 3px #1871f5, -1px 1px 3px #1871f5, 1px -1px 3px #1871f5,
      -1px -1px 3px #1871f5, 2px 2px 3px #1871f5, -2px 2px 3px #1871f5,
      2px -2px 3px #1871f5, -2px -2px 3px #1871f5;
}

.pannello-del-Vincitore p button{
  width: 15mm;
}

.onoffswitch {
  position: relative; 
  width: 90px;
  top: -70px;
  left: 80px;
  -webkit-user-select:none; -moz-user-select:none; -ms-user-select: none;

}
.onoffswitch-checkbox {
  position: absolute;
  opacity: 0;
  pointer-events: none;
}
.onoffswitch-label {
  display: block; overflow: hidden; cursor: pointer;
  border: 2px solid #999999; border-radius: 33px;
}
.onoffswitch-inner {
  display: block; width: 200%; margin-left: -100%;
  transition: margin 0.3s ease-in 0s;
}
.onoffswitch-inner:before, .onoffswitch-inner:after {
  display: block; float: left; width: 50%; height: 26px; padding: 0; line-height: 26px;
  font-size: 18px; color: white; font-family: Trebuchet, Arial, sans-serif; font-weight: bold;
  box-sizing: border-box;
}
.onoffswitch-inner:before {
  content: "ON";
  padding-left: 10px;
  background-color: #084475; color: #FFFFFF;
}
.onoffswitch-inner:after {
  content: "OFF";
  padding-right: 10px;
  background-color: #2e73a5; color: #FFFFFF;
  text-align: right;
}
.onoffswitch-switch {
  display: block; width: 28px; margin: -1px;
  background: #FFFFFF;
  position: absolute; top: 0; bottom: 0;
  right: 60px;
  border: 2px solid #999999; border-radius: 33px;
  transition: all 0.3s ease-in 0s; 
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-inner {
  margin-left: 0;
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-switch {
  right: 0px; 
}

.slider {
  -webkit-appearance: none;
  width: 100px;
  height: 15px;
  border-radius: 5px;  
  background: #d3d3d3;
  outline: none;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
  position: relative;
  top: -70px;
  left: 80px;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  border-radius: 50%; 
  background: #054d77;
  cursor: pointer;
}

.slider::-moz-range-thumb {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: #054d77;
  cursor: pointer;
}

.opz-text{
  position: relative;
  top: 20px;
  left: 30px;
}



.onoffswitch2 {
  position: relative; 
  width: 90px;
  top: -70px;
  left: 80px;
  -webkit-user-select:none; -moz-user-select:none; -ms-user-select: none;

}
.onoffswitch-checkbox2 {
  position: absolute;
  opacity: 0;
  pointer-events: none;
}
.onoffswitch-label2 {
  display: block; overflow: hidden; cursor: pointer;
  border: 2px solid #999999; border-radius: 33px;
}
.onoffswitch-inner2 {
  display: block; width: 200%; margin-left: -100%;
  transition: margin 0.3s ease-in 0s;
}
.onoffswitch-inner2:before, .onoffswitch-inner2:after {
  display: block; float: left; width: 50%; height: 26px; padding: 0; line-height: 26px;
  font-size: 18px; color: white; font-family: Trebuchet, Arial, sans-serif; font-weight: bold;
  box-sizing: border-box;
}
.onoffswitch-inner2:before {
  content: "ON";
  padding-left: 10px;
  background-color: #084475; color: #FFFFFF;
}
.onoffswitch-inner2:after {
  content: "OFF";
  padding-right: 10px;
  background-color: #2e73a5; color: #FFFFFF;
  text-align: right;
}
.onoffswitch-switch2 {
  display: block; width: 28px; margin: -1px;
  background: #FFFFFF;
  position: absolute; top: 0; bottom: 0;
  right: 60px;
  border: 2px solid #999999; border-radius: 33px;
  transition: all 0.3s ease-in 0s; 
}
.onoffswitch-checkbox2:checked + .onoffswitch-label2 .onoffswitch-inner2 {
  margin-left: 0;
}
.onoffswitch-checkbox2:checked + .onoffswitch-label2 .onoffswitch-switch2 {
  right: 0px; 
}

.chat-textarea {
  background-image: linear-gradient(to top right, #d4eff3d7, #bdd2df, rgb(187, 205, 221));
  border-radius: 15px;
  outline: none;
  font-family: "friendly_school", cursive;
}

.chat-btn {
  background-image: linear-gradient(to top right, #105da5d7, #3294d4, #12707571);
  border-top-right-radius: 20mm;
  border-bottom-left-radius: 20mm;
  border-top-left-radius: 8mm;
  border-bottom-right-radius: 8mm;
  outline: none;
  color: #ffffff;
  font-family: "friendly_school", cursive;
  width: 50px;
  height: 30px;
}

  .chat-area {
    position: relative; 
    top: 245px; 
    left: 60px;
  }

  .replay {
    border: transparent;
    color: rgb(15, 67, 110);
    outline: none;
    background-image: linear-gradient(
    to bottom right,
    rgba(24, 118, 241, 0.904),
    rgb(61, 194, 255,0.904),
    rgb(160, 255, 255,0.904)
  );
    text-shadow: 1px 1px 3px rgb(55, 127, 194), 1px -1px 3px rgb(55, 127, 194),
      -1px -1px 3px rgb(55, 127, 194), -1px 1px 3px rgb(55, 127, 194);
      background: transparent;
      position: relative;
      top: 150px;
      left: 210px;
  }
  
  .replay:hover {
    /*stile ed effetto per i tasti all'interno del pannello dei tasti*/
    color: white;
    background-image: linear-gradient(
      to top left,
      rgb(56, 158, 218),
      rgb(47, 85, 211)
    );
    background: transparent;
  }