/*ctrl+k+0 per chiudere tutte le classi*/
body {
  background-image: url("../../assets/Stile-della-partita/Pictures/caverna-marina.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
  height: 980px;
}

html {
  height: 100%;
}

span {
  font-size: 25mm;
}

[data-tooltip] {
  position: relative;
  z-index: 2;
  cursor: pointer;
}

[data-tooltip]:before {
  visibility: hidden;
}

/* Show tooltip content on hover */
[data-tooltip]:hover:before {
  transition-delay: 1s;
  visibility: visible;
}

/* Position tooltip above the element */
[data-tooltip]:before {
  position: absolute;
  bottom: 5mm;
  left: 25mm;
  width: 20mm;
  background-image: transparent;
  color: #fff;
  content: attr(data-tooltip);
  text-align: center;
  font-size: 6mm;
  line-height: 1.2;
  font-family: "friendly_school", cursive;
}

@font-face {
  font-family: "friendly_school";
  src: url("../../assets/Stile-della-partita/Fonts/friendly_schoolmates_regular_font_by_situjuh_7ntypes-webfont.woff2")
      format("woff2"),
    url("../../assets/Stile-della-partita/Fonts/friendly_schoolmates_regular_font_by_situjuh_7ntypes-webfont.woff")
      format("woff");
  font-weight: normal;
  font-style: normal;
}

.title {
  font-size: 22mm;
  font-family: "friendly_school", cursive;
  color: #50d9f1;
  text-shadow: 1px 1px 3px #1871f5, -1px 1px 3px #1871f5, 1px -1px 3px #1871f5,
    -1px -1px 3px #1871f5, 2px 2px 3px #1871f5, -2px 2px 3px #1871f5,
    2px -2px 3px #1871f5, -2px -2px 3px #1871f5;
  line-height: 1;
  letter-spacing: 0.1em;
  text-align: center;
  padding-top: 5mm;
}

.ambienti {
  /*pannello principalle che contiene le 4 colonne*/
  display: flex;
  width: 220mm;
  height: 160mm;
  margin: auto;
  border: 1px solid rgb(0, 255, 213);
  border-top-left-radius: 0mm;
  border-top-right-radius: 0mm;
  border-bottom-left-radius: 3mm;
  border-bottom-right-radius: 3mm;
  box-shadow: 1px 1px 3px rgb(81, 200, 247), 1px -1px 3px rgb(81, 200, 247),
    -1px 1px 3px rgb(81, 200, 247), -1px -1px 3px rgb(81, 200, 247),
    2px 1px 3px rgba(0, 77, 243), 2px -2px 3px rgba(0, 77, 243),
    -2px 2px 3px rgba(0, 77, 243), -2px -2px 3px rgba(0, 77, 243),
    3px 3px 3px rgb(81, 200, 247), 3px -3px 3px rgb(81, 200, 247),
    -3px 3px 3px rgb(81, 200, 247), -3px -3px 3px rgb(81, 200, 247);
}

.ambienti div {
  /*settaggi comuni a tutte le 4 colonne in un colpo solo*/
  display: flex;
  flex-direction: row;
  width: 55mm;
  height: inherit;
}

.distese-di-sabbia {
  /*una delle quattro colonne*/
  background-image: url("../../assets/Stile-della-partita/Pictures/background-sabbia.jpg");
  border-top-left-radius: inherit;
  border-bottom-left-radius: inherit;
  border-right: 2px solid rgb(0, 255, 213);
  background-position: bottom;
}

.funghi-del-mare {
  /*una delle quattro colonne*/
  background-image: url("../../assets/Stile-della-partita/Pictures/background-blue-water-coral.jpg");
  border-right: 2px solid rgb(0, 255, 213);
  background-position: top;
  background-repeat: no-repeat;
}

.fondali-vulcanici {
  /*una delle quattro colonne*/
  background-image: url("../../assets/Stile-della-partita/Pictures/coral-plants.jpg");
  border-right: 2px solid rgb(0, 255, 213);
  background-repeat: no-repeat;
  background-size: 220mm;
  background-position: bottom;
}

.caverne-luminose {
  /*una delle quattro colonne*/
  background-image: url("../../assets/Stile-della-partita/Pictures/diving-anemone.jpg");
  background-position: center;
  border-top-right-radius: inherit;
  border-bottom-right-radius: inherit;
}

.panelli {
  /*colui che contiente il tutto*/
  /*border: 2px solid white;
  da togliere*/
  height: 0;
}

.panelli .pannello-delle-carte {
  /*pannello principale che contiene le carte*/
  justify-content: center;
  display: flex;
  color: white;
  width: 219.5mm;
  height: 35mm;
  margin: auto;
  position: relative;
  bottom: 104.5mm;
  left: 0.1mm;
  border-top: 4px solid rgb(83, 232, 243);
  border-top-left-radius: 75mm;
  border-top-right-radius: 75mm;
  border-bottom-left-radius: 4mm;
  border-bottom-right-radius: 4mm;
  border-bottom: 1px solid rgb(0, 255, 213);
  background-image: linear-gradient(
    to bottom right,
    rgb(24, 118, 241),
    rgb(112, 197, 236)
  );
}

.panelli .pannello-dei-tasti {
  /*pannello principale che contiene i tasti*/
  background-color: aqua;
  color: aliceblue;
  width: 35mm;
  height: 80.4mm;
  margin: auto;
  position: relative;
  left: 128.5mm;
  bottom: 265.1mm;
  border: 1px solid rgb(0, 255, 213);
  border-top-right-radius: 3mm;
  border-bottom-right-radius: 3mm;
  border-left: 1px solid rgb(0, 255, 213);
  box-shadow: 1px 1px 3px rgb(81, 200, 247), 1px -1px 3px rgb(81, 200, 247),
    -1px 1px 3px rgb(81, 200, 247), -1px -1px 3px rgb(81, 200, 247),
    2px 1px 3px rgba(25, 93, 240, 0.856), 2px -2px 3px rgba(0, 77, 243),
    -2px 2px 3px rgba(0, 77, 243), -2px -2px 3px rgba(0, 77, 243),
    3px 3px 3px rgb(81, 200, 247), 3px -3px 3px rgb(81, 200, 247),
    -3px 3px 3px rgb(81, 200, 247), -3px -3px 3px rgb(81, 200, 247);
}

.panelli .pannello-dei-tasti button {
  /*stile ed effetto per i tasti all'interno del pannello dei tasti*/
  border: transparent;
  border-bottom: 2px solid rgb(0, 255, 213);
  font-size: 6.5mm;
  height: 20mm;
  font-family: cursive;
  width: 34.4mm;
  color: aquamarine;
  outline: none;
  background-image: linear-gradient(
    to top left,
    rgb(101, 177, 221),
    rgb(47, 151, 211)
  );
  text-shadow: 1px 1px 3px rgb(55, 127, 194), 1px -1px 3px rgb(55, 127, 194),
    -1px -1px 3px rgb(55, 127, 194), -1px 1px 3px rgb(55, 127, 194);
}

.panelli .pannello-dei-tasti button:hover {
  /*stile ed effetto per i tasti all'interno del pannello dei tasti*/
  color: rgb(63, 235, 241);
  background-image: linear-gradient(
    to top left,
    rgb(56, 158, 218),
    rgb(47, 85, 211)
  );
}

.pannello-scarti-coperte {
  /*pannello che contiene due pannelli uno degli scarti e uno delle pesche e ne definisce le loro forme */
  justify-content: center;
  padding: 1mm;
  width: 30mm;
  height: 70mm;
  margin: auto;
  position: relative;
  bottom: 160mm;
  right: 126.2mm;
  border: 1px solid rgb(0, 255, 213);
  border-top-left-radius: 3mm;
  border-bottom-left-radius: 3mm;
  border-left: 1px solid rgb(0, 255, 213);
  box-shadow: 1px 1px 3px rgb(81, 200, 247), 1px -1px 3px rgb(81, 200, 247),
    -1px 1px 3px rgb(81, 200, 247), -1px -1px 3px rgb(81, 200, 247),
    2px 1px 3px rgba(25, 93, 240, 0.856), 2px -2px 3px rgba(0, 77, 243),
    -2px 2px 3px rgba(0, 77, 243), -2px -2px 3px rgba(0, 77, 243),
    3px 3px 3px rgb(81, 200, 247), 3px -3px 3px rgb(81, 200, 247),
    -3px 3px 3px rgb(81, 200, 247), -3px -3px 3px rgb(81, 200, 247);
  background-image: linear-gradient(
    to bottom right,
    rgb(24, 118, 241),
    rgb(61, 194, 255),
    rgb(160, 255, 255)
  );
}

.pannello-scarti-coperte .mazzo-coperte,
.pannello-scarti-coperte .mazzo-scarti {
  /*definisce la forma dei due sottopannelli in comune*/
  width: 28mm;
  height: 34mm; /*
  border: 1px solid rgb(255, 255, 255); <--Il border bianco di mostra i due pannelli*/
  background: transparent;
  position: relative;
  outline: none;
  padding-top: 4mm;
}

.mazzo-scarti div,
.mazzo-coperte div {
  /*opzioni comuni per le carte degli scarti e delle pesche*/
  width: 15mm;
  height: 24mm;
  border: transparent;
  border-radius: 1mm;
  margin: auto;
}

.carte-rimaste {
  /*indica quante carte sono rimaste nel mazzo coperto*/
  width: 0mm;
  height: 0mm;
  font-size: 8mm;
  font-family: "friendly_school", cursive;
  border-radius: 2mm;
  color: #8ef0f5;
  position: relative;
  left: 21.4mm;
  bottom: 3mm;
}

.mazzo-scarti div {
  /*gestione dei sotto elementi div per questa classe*/
  position: relative;
  margin: auto;
  font-size: 10mm;
  text-align: center;
  color: white;
  font-family: "friendly_school", cursive;
}

.mazzo-scarti div:hover {
  box-shadow: 1px 1px 3px white, -1px 1px 3px white, 1px -1px 3px white,
    -1px -1px 3px white;
}

.mazzo-coperte div {
  /*gestione delle carte del mazzo coperto*/
  position: relative;
  right: 3mm;
}

.mazzo-coperte div:hover {
  box-shadow: 1px 1px 3px white, -1px 1px 3px white, 1px -1px 3px white,
    -1px -1px 3px white;
}

.messaggioDiAvviso {
  /*messaggio di errore che appare quando si tenta di pescare una carta dal mazzo coperto,quando nel
  mazzo si hanno ancora 4 carte*/
  font-size: 8mm;
  font-family: "friendly_school", cursive;
  color: #50d9f1;
  text-shadow: 1px 1px 3px #1871f5, -1px 1px 3px #1871f5, 1px -1px 3px #1871f5,
    -1px -1px 3px #1871f5, 2px 2px 3px #1871f5, -2px 2px 3px #1871f5,
    2px -2px 3px #1871f5, -2px -2px 3px #1871f5;
  line-height: 1;
  letter-spacing: 0.1em;
  text-align: center;
  padding-top: 5mm;
  width: 60mm;
  height: 30mm;
  position: relative;
  bottom: 215.5mm;
  left: 72mm;
  display: none;
}

.panelli .mazzo {
  /*pannello principale delle carte*/
  /*border: 2px solid white;
   <-questo và levato*/
  width: 150mm;
  height: 37mm;
  display: grid;
  grid-template-columns: auto auto auto auto;
  grid-gap: 40px;
  padding: 20px;
  justify-content: center;
}

.panelli .mazzo div {
  /*settaggio comune a tutte le tre carte,dimensioni e spazi tra di loro*/
  width: 15mm;
  height: 24mm;
  border-radius: 1mm;
  outline: none;
  font-size: 10mm;
  text-align: center;
  color: white;
  font-family: "friendly_school", cursive;
}

.Quadrato {
  background-image: linear-gradient(
    to bottom,
    rgb(255, 243, 73),
    rgb(245, 247, 164),
    rgb(255, 243, 73)
  );
}

.Triangolo {
  background-image: linear-gradient(
    to bottom,
    rgb(30, 135, 255),
    rgb(117, 238, 247),
    rgb(30, 135, 255)
  );
}

.Cerchio {
  background-image: linear-gradient(
    to bottom,
    rgb(248, 97, 223),
    rgb(247, 158, 247),
    rgb(248, 97, 223)
  );
}

.Ancora {
  background-image: linear-gradient(
    to bottom,
    rgb(250, 172, 120),
    rgb(240, 224, 138),
    rgb(250, 172, 120)
  );
}

.Punta {
  background-image: radial-gradient(
    rgb(0, 247, 255),
    rgb(76, 116, 248)
    );
}

.Carta-misteriosa {
  background-image: linear-gradient(
    to top left,
    rgb(4, 51, 207),
    rgb(0, 247, 255)
  );
}

.chat {
  display: none; /*al caricamento della pagina non verrà mostrata questo elemento e i suoi geniti*/
  width: 100mm;
  height: 50mm;
  position: relative;
  left: 256mm;
  top: 90mm;
  border: transparent;
  background-image: linear-gradient(to top right, #0a87e0, #38d2da, #8ef0f5);
  border-top-right-radius: 20mm;
  border-bottom-left-radius: 20mm;
  border-top-left-radius: 8mm;
  border-bottom-right-radius: 8mm;
}

.chat button.close-chat {
  font-size: 8mm;
  color: #006ed6;
  background: transparent;
  position: relative;
  width: 10mm;
  height: 10mm;
  border: transparent;
}

.chat button.close-chat:hover {
  color: #003cd6;
}
