body {
  background-image: url("../../assets/pictures_of_match/caverna-marina.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
  height: 1200px;
}

html {
  height: 100%;
}

.title {
  font-size: 18mm;
  font-family: cursive;
  color: #50d9f1;
  text-shadow: 1px 1px 3px #1871f5, -1px 1px 3px #1871f5, 1px -1px 3px #1871f5,
    -1px -1px 3px #1871f5, 2px 2px 3px #1871f5, -2px 2px 3px #1871f5,
    2px -2px 3px #1871f5, -2px -2px 3px #1871f5;
  line-height: 1;
  letter-spacing: 0.1em;
  text-align: center;
  padding-top: 5mm;
}

.panel-game {
  border: 1px solid rgb(0, 255, 213);
  border-top-left-radius: 3mm;
  border-bottom-left-radius: 3mm;
  border-bottom-right-radius: 3mm;
  border-right: 1px solid rgb(0, 255, 213);
  width: 210mm;
  height: 160mm;
  box-shadow: 1px 1px 3px rgb(81, 200, 247), 1px -1px 3px rgb(81, 200, 247),
    -1px 1px 3px rgb(81, 200, 247), -1px -1px 3px rgb(81, 200, 247),
    2px 1px 3px rgba(0, 77, 243), 2px -2px 3px rgba(0, 77, 243),
    -2px 2px 3px rgba(0, 77, 243), -2px -2px 3px rgba(0, 77, 243),
    3px 3px 3px rgb(81, 200, 247), 3px -3px 3px rgb(81, 200, 247),
    -3px 3px 3px rgb(81, 200, 247), -3px -3px 3px rgb(81, 200, 247);

}
.panel-buttons {
  border: 1px solid rgb(0, 255, 213);
  border-top-right-radius: 3mm;
  border-bottom-right-radius: 3mm;
  border-left: 1px solid rgb(0, 255, 213);
  width: 35mm;
  height: 80.4mm;
  box-shadow: 1px 1px 3px rgb(81, 200, 247), 1px -1px 3px rgb(81, 200, 247),
    -1px 1px 3px rgb(81, 200, 247), -1px -1px 3px rgb(81, 200, 247),
    2px 1px 3px rgba(25, 93, 240, 0.856), 2px -2px 3px rgba(0, 77, 243),
    -2px 2px 3px rgba(0, 77, 243), -2px -2px 3px rgba(0, 77, 243),
    3px 3px 3px rgb(81, 200, 247), 3px -3px 3px rgb(81, 200, 247),
    -3px 3px 3px rgb(81, 200, 247), -3px -3px 3px rgb(81, 200, 247);

}

#contenuto {
position: relative;
top: 10mm;
}

.panel-buttons button {
  border: transparent;
  border-bottom: 2px solid rgb(0, 255, 213) ;
  font-size: 6.5mm;
  height: 20mm;
  font-family: cursive;
  width: 34.4mm;
  color: aquamarine;
  background-image: linear-gradient(
    to top left,
    rgb(101, 177, 221),
    rgb(47, 151, 211)
  );
  text-shadow: 1px 1px 3px rgb(55, 127, 194), 1px -1px 3px rgb(55, 127, 194),
    -1px -1px 3px rgb(55, 127, 194), -1px 1px 3px rgb(55, 127, 194);
}

.panel-buttons button:hover {
  color: rgb(63, 235, 241);
  background-image: linear-gradient(
    to top left,
    rgb(56, 158, 218),
    rgb(47, 85, 211)
  );
}

div .carte{
  color:white;
  border-top: 4px solid rgb(83, 232, 243);
  background-image: linear-gradient(to top left), rgb(49, 168, 238), rgb(60, 147, 197),rgb(117, 177, 212) ;
  top:130mm;
  height: 29.5mm;
  border-bottom: transparent;
  position: relative;
  border-top-left-radius: 75mm;
  border-top-right-radius: 75mm;
  border-bottom-left-radius: 4mm;
  border-bottom-right-radius: 4mm;
  background-color: rgb(47, 91, 214);
  width: 209.5mm;
}

div.mini-panel{
 background-color: rgb(47, 91, 214);
 border:transparent;
 width:30mm;
 height: 20mm;
 position: relative;
 bottom: 30mm;
}
