<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />

    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />

    <link href="match-page.component.css" type="text/css" rel="stylesheet" />
  </head>

  <body>
    <div class="container">
      <div class="col-md justify-content-center">
        <p class="title">Partita</p>
      </div>
    </div>
    <div class="container" id="contenuto">
      <div class="row justify-content-center">
        <div class="panel-game ">
          <div class="carte">
           <div class="row justify-content-center">
            qui vanno distribuite le carte
          </div> 
          </div>
          

        </div>

        <div class="panel-chat ">
          <button type="button" style=" border-top-right-radius: inherit;">Chat<i class="fas fa-comment-dots p-2"></i></button>
          <button type="button">Profilo<i class="fas fa-user p-2"></i></button>  
          <button type="button">Regole</button> 
          <button type="button"><i class="fas fa-cog p-2" style="font-size: 10mm;"></i></button>
          <button type="button" style=" border-bottom-right-radius: inherit;">Esci</button>  
        </div>
      </div>
    </div>
  </body>
</html>
