<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />

    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <link href="match-page.component.css" type="text/css" rel="stylesheet" />
  </head>

  <body>   
    <div class="container-fluid sfondo_landing">
    <br>
    <div id="music">
      <audio id="water" autoplay>
        <source src="../../assets/music/water.wav" type="audio/mp3" />
        <source src="../../assets/music/water.ogg" type="audio/ogg" />
      </audio>
      <audio id="audio" autoplay loop>
        <source
          src="../../assets/music/underwater-music.mp3"
          type="audio/mp3"
        />
        <source
          src="../../assets/music/underwater-music.ogg"
          type="audio/ogg"
        />
      </audio>
      <div align="right">
        <img
          class="mus"
          src="../../assets/images/octomus.png"
          onclick="document.getElementById('audio').muted=!document.getElementById('audio').muted"
        />
      </div>
    </div>

    <p class="title">{{nomeGiocatore}} <span>vs</span> Bot</p>

    <div class="panelli">
      <div class="ambienti">
        <div class="distese-di-sabbia">
          <div class="carte-delle-torri-avversario">
            <div style="right: 39mm; top: 2mm; transform: rotate(-2deg);"></div><img style="left: 0.5mm; top: 12mm; transform: rotate(-2deg);" class = "cartatorre">
            <div style="right: 30mm; top: 6mm; transform: rotate(-3deg);"></div><img style="left: -0.5mm; bottom:-16mm; transform: rotate(-3deg);" class = "cartatorre">
            <div style="right: 22mm; top: 10mm; transform: rotate(5deg);"></div><img style="left: -0.5mm; bottom:-16mm; transform: rotate(5deg);" class = "cartatorre">
            <div style="right: 14mm; top: 20mm; transform: rotate(2deg);"></div><img style="left: 36mm; top: 54mm; transform: rotate(-2deg);" class = "cartatorre">
            <div style="right: 16mm; top: 30mm; transform: rotate(-6deg);"></div><img style="left: 36mm; top: 54mm; transform: rotate(-2deg);" class = "cartatorre">
            <div style="right: 24mm; top: 34mm; transform: rotate(-9deg);"></div><img style="left: 36mm; top: 54mm; transform: rotate(-2deg);" class = "cartatorre">
            <div style="right: 32mm; top: 38mm; transform: rotate(-4deg);"></div><img style="left: 36mm; top: 54mm; transform: rotate(-2deg);" class = "cartatorre">
            <div style="right: 40mm; top: 42mm; transform: rotate(-2deg);"></div><img style="left: 36mm; top: 54mm; transform: rotate(-2deg);" class = "cartatorre">
          </div>

          <div
            class="carte-delle-torri"
            (click)="giocatoreGiocaSullaTorre('Quadrato')"
          >
            <div style="left: 38mm; top: 42mm; transform: rotate(2deg);"></div><img style="left: 36mm; top: 54mm; transform: rotate(-2deg);" class = "cartatorre">
            <div style="left: 30mm; top: 38mm; transform: rotate(-2deg);"></div><img style="left: 18mm; top: 50mm; transform: rotate(-2deg);" class = "cartatorre">
            <div style="left: 22mm; top: 34mm; transform: rotate(4deg);"></div><img style="right: 1mm; top: 45mm; transform: rotate(-2deg);" class = "cartatorre">
            <div style="left: 15mm; top: 24mm; transform: rotate(4deg);"></div><img style="left: -19mm; top: 35mm; transform: rotate(-2deg);" class = "cartatorre">
            <div style="left: 23mm; top: 12mm; transform: rotate(2deg);"></div><img style="left: 21mm; top: 15mm; transform: rotate(-2deg);" class = "cartatorre">
            <div style="left: 31mm; top: 8mm; transform: rotate(4deg);"></div><img style="left: 19mm; top: 12mm; transform: rotate(-2deg);" class = "cartatorre">
            <div style="left: 39mm; top: 10mm; transform: rotate(4deg);"></div><img style="left: 16mm; top: 14mm; transform: rotate(-2deg);" class = "cartatorre">
            <div style="left: 35mm; top: 24mm; transform: rotate(-45deg);"></div><img style="left: 5mm; top: 25mm; transform: rotate(-45deg);" class = "cartatorre">
            <div
              style="
                left: 27mm;
                top: 34mm;
                transform: rotate(-2deg);
                border: 2px dashed white;
                width: 15mm;
                height: 24mm;
              "
            >
            
          </div><img class = "imgcolonna" src="../../assets/images/octo-quadrato.png" style="left: 65px; bottom: 50px;">
        </div>
        </div>
        <div class="funghi-del-mare">
          <div class="carte-delle-torri-avversario">
            <div style="right: 39mm; top: 2mm; transform: rotate(-2deg);"></div>
            <div style="right: 30mm; top: 6mm; transform: rotate(-3deg);"></div>
            <div style="right: 22mm; top: 10mm; transform: rotate(5deg);"></div>
            <div style="right: 14mm; top: 20mm; transform: rotate(2deg);"></div>
            <div
              style="right: 16mm; top: 30mm; transform: rotate(-6deg);"
            ></div>
            <div
              style="right: 24mm; top: 34mm; transform: rotate(-9deg);"
            ></div>
            <div
              style="right: 32mm; top: 38mm; transform: rotate(-4deg);"
            ></div>
            <div
              style="right: 40mm; top: 42mm; transform: rotate(-2deg);"
            ></div>
          </div>

          <div
            class="carte-delle-torri"
            (click)="giocatoreGiocaSullaTorre('Triangolo')"
          >
            <div style="left: 38mm; top: 42mm; transform: rotate(2deg);"></div><img style="left: 37mm; top: 53mm; transform: rotate(-2deg);" class = "cartatorre">
            <div style="left: 30mm; top: 38mm; transform: rotate(-2deg);"></div><img style="left: 18mm; top: 50mm; transform: rotate(-2deg);" class = "cartatorre">
            <div style="left: 22mm; top: 34mm; transform: rotate(4deg);"></div><img style="right: 1mm; top: 45mm; transform: rotate(-2deg);" class = "cartatorre">
            <div style="left: 15mm; top: 24mm; transform: rotate(4deg);"></div><img style="left: -19mm; top: 35mm; transform: rotate(-2deg);" class = "cartatorre">
            <div style="left: 23mm; top: 12mm; transform: rotate(2deg);"></div><img style="left: 21mm; top: 15mm; transform: rotate(-2deg);" class = "cartatorre">
            <div style="left: 31mm; top: 8mm; transform: rotate(4deg);"></div><img style="left: 19mm; top: 12mm; transform: rotate(-2deg);" class = "cartatorre">
            <div style="left: 39mm; top: 10mm; transform: rotate(4deg);"></div><img style="left: 16mm; top: 14mm; transform: rotate(-2deg);" class = "cartatorre">
            <div style="left: 35mm; top: 24mm; transform: rotate(-45deg);"></div><img style="left: 5mm; top: 25mm; transform: rotate(-45deg);" class = "cartatorre">
            <div
              style="
                left: 27mm;
                top: 34mm;
                transform: rotate(-2deg);
                border: 2px dashed white;
                width: 15mm;
                height: 24mm;
              "
            ></div><img class = "imgcolonna" src="../../assets/images/stella-triangolo.png" style="left: 65px; bottom: 50px;">
          </div>
        </div>

        <div class="fondali-vulcanici">
          <div class="carte-delle-torri-avversario">
            <div style="right: 39mm; top: 2mm; transform: rotate(-2deg);"></div>
            <div style="right: 30mm; top: 6mm; transform: rotate(-3deg);"></div>
            <div style="right: 22mm; top: 10mm; transform: rotate(5deg);"></div>
            <div style="right: 14mm; top: 20mm; transform: rotate(2deg);"></div>
            <div
              style="right: 16mm; top: 30mm; transform: rotate(-6deg);"
            ></div>
            <div
              style="right: 24mm; top: 34mm; transform: rotate(-9deg);"
            ></div>
            <div
              style="right: 32mm; top: 38mm; transform: rotate(-4deg);"
            ></div>
            <div
              style="right: 40mm; top: 42mm; transform: rotate(-2deg);"
            ></div>
          </div>
          <div
            class="carte-delle-torri"
            (click)="giocatoreGiocaSullaTorre('Cerchio')"
          >
            <div style="left: 38mm; top: 42mm; transform: rotate(2deg);"></div><img style="left: 37mm; top: 53mm; transform: rotate(-2deg);" class = "cartatorre">
            <div style="left: 30mm; top: 38mm; transform: rotate(-2deg);"></div><img style="left: 18mm; top: 50mm; transform: rotate(-2deg);" class = "cartatorre">
            <div style="left: 22mm; top: 34mm; transform: rotate(4deg);"></div><img style="right: 1mm; top: 45mm; transform: rotate(-2deg);" class = "cartatorre">
            <div style="left: 15mm; top: 24mm; transform: rotate(4deg);"></div><img style="left: -19mm; top: 35mm; transform: rotate(-2deg);" class = "cartatorre">
            <div style="left: 23mm; top: 12mm; transform: rotate(2deg);"></div><img style="left: 21mm; top: 15mm; transform: rotate(-2deg);" class = "cartatorre">
            <div style="left: 31mm; top: 8mm; transform: rotate(4deg);"></div><img style="left: 19mm; top: 12mm; transform: rotate(-2deg);" class = "cartatorre">
            <div style="left: 39mm; top: 10mm; transform: rotate(4deg);"></div><img style="left: 16mm; top: 14mm; transform: rotate(-2deg);" class = "cartatorre">
            <div style="left: 35mm; top: 24mm; transform: rotate(-45deg);"></div><img style="left: 5mm; top: 25mm; transform: rotate(-45deg);" class = "cartatorre">
            <div
              style="
                left: 27mm;
                top: 34mm;
                transform: rotate(-2deg);
                border: 2px dashed white;
                width: 15mm;
                height: 24mm;
              "
            ></div><img class = "imgcolonna" src="../../assets/images/fish-cerchio.png" style="left: 65px; bottom: 50px;">
          </div>
        </div>

        <div class="caverne-luminose">
          <div class="carte-delle-torri-avversario">
            <div style="right: 39mm; top: 2mm; transform: rotate(-2deg);"></div>
            <div style="right: 30mm; top: 6mm; transform: rotate(-3deg);"></div>
            <div style="right: 22mm; top: 10mm; transform: rotate(5deg);"></div>
            <div style="right: 14mm; top: 20mm; transform: rotate(2deg);"></div>
            <div
              style="right: 16mm; top: 30mm; transform: rotate(-6deg);"
            ></div>
            <div
              style="right: 24mm; top: 34mm; transform: rotate(-9deg);"
            ></div>
            <div
              style="right: 32mm; top: 38mm; transform: rotate(-4deg);"
            ></div>
            <div
              style="right: 40mm; top: 42mm; transform: rotate(-2deg);"
            ></div>
          </div>
          
          <div
            class="carte-delle-torri"
            (click)="giocatoreGiocaSullaTorre('Ancora')"
          >
            <div style="left: 38mm; top: 42mm; transform: rotate(2deg);"></div><img style="left: 37mm; top: 53mm; transform: rotate(-2deg);" class = "cartatorre">
            <div style="left: 30mm; top: 38mm; transform: rotate(-2deg);"></div><img style="left: 18mm; top: 50mm; transform: rotate(-2deg);" class = "cartatorre">
            <div style="left: 22mm; top: 34mm; transform: rotate(4deg);"></div><img style="right: 1mm; top: 45mm; transform: rotate(-2deg);" class = "cartatorre">
            <div style="left: 15mm; top: 24mm; transform: rotate(4deg);"></div><img style="left: -19mm; top: 35mm; transform: rotate(-2deg);" class = "cartatorre">
            <div style="left: 23mm; top: 12mm; transform: rotate(2deg);"></div><img style="left: 21mm; top: 15mm; transform: rotate(-2deg);" class = "cartatorre">
            <div style="left: 31mm; top: 8mm; transform: rotate(4deg);"></div><img style="left: 19mm; top: 12mm; transform: rotate(-2deg);" class = "cartatorre">
            <div style="left: 39mm; top: 10mm; transform: rotate(4deg);"></div><img style="left: 16mm; top: 14mm; transform: rotate(-2deg);" class = "cartatorre">
            <div style="left: 35mm; top: 24mm; transform: rotate(-45deg);"></div><img style="left: 5mm; top: 25mm; transform: rotate(-45deg);" class = "cartatorre">
            <div
              style="
                left: 27mm;
                top: 34mm;
                transform: rotate(-2deg);
                border: 2px dashed white;
                width: 15mm;
                height: 24mm;
              "
            ></div><img class = "imgcolonna" src="../../assets/images/anchor-ancora.png" style="left: 65px; bottom: 50px;">
          </div>
        </div>
      </div>

      <div class="pannello-scarti">
        <div
          class="mazzo-scarti"
          (click)="scartaOppurePescaDalMazzoScarti()"
          onclick="javascript: document.getElementById('card').play();"
        >
          <div>
            <div *ngIf="mazzoScarti !== undefined && mazzoScarti.length > 0">
              {{ mazzoScarti[0].getValue() }}
              <img class = "imgcarta">
            </div>
          </div>
        </div>
      </div>

      <div class="pannello-coperte">
        <div class="carte-rimaste">{{ this.carteRimanentiDaPescare }}
        </div>
        <div
          class="mazzo-coperte"
          (click)="giocatorePescaDalMazzoCoperto()"
          onclick="javascript: document.getElementById('card').play();"
        >
          <div *ngIf="this.carteRimanentiDaPescare > 0" class="Carta-misteriosa">
            <div
              *ngIf="this.carteRimanentiDaPescare > 1"
              class="Carta-misteriosa"
              style="position: relative; top: 1mm; left: 1mm;"
            >
              <div
                *ngIf="this.carteRimanentiDaPescare > 2"
                class="Carta-misteriosa"
                style="position: relative; top: 1mm; left: 1mm;"
              >
                <div
                  *ngIf="this.carteRimanentiDaPescare > 3"
                  class="Carta-misteriosa"
                  style="position: relative; top: 1mm; left: 1mm;"
                >
                  <div
                    *ngIf="this.carteRimanentiDaPescare > 4"
                    class="Carta-misteriosa"
                    style="position: relative; top: 1mm; left: 1mm;"
                  ></div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="pannello-degli-scarti">
        
        <div 
          *ngFor="let item of this.mazzoScarti"
          (click)="selezionaEPescaCartaDalMazzoScarti(item.getId())"
        ></div>
        </div>
      <script>
        function play() {
          var audio = document.getElementById("card");
          audio.play();
        }
      </script>
      <audio id="card" src="../../assets/music/card.wav"></audio>
      <audio id="card" src="../../assets/music/card.ogg"></audio>

      <div class="pannello-delle-carte">
        <div class="pannello-del-messaggio-di-avviso">
          <div class="messaggioDiAvviso">
            <p></p>
          </div>
        </div>
        <div class="mazzo">
          <div 
            *ngFor="let carta of this.mano"
            (click)="selezionaCarta(carta.getId())"
            onclick="javascript: document.getElementById('card').play();">
            <p>{{ carta.getValue() }}
              <img class = "imgcarta">
            </p>
          </div>
          

        </div>
      </div>
      <script>
        function play() {
          var audio = document.getElementById("btn");
          audio.play();
        }
      </script>
      <audio id="btn" src="../../assets/music/glug.wav"></audio>
      <audio id="btn" src="../../assets/music/glug.ogg"></audio>
      <div class="pannello-dei-tasti">
        <button
          onclick="javascript: document.getElementById('btn').play();"
          data-tooltip="Scrivi messaggio"
          type="button"
          style="border-top-right-radius: 2mm;"
          (click)="mostraChat()"
        >
          <i class="fas fa-comment-dots p-2" style="font-size: 10mm;"></i>
        </button>

        <button
          onclick="javascript: document.getElementById('btn').play();"
          data-tooltip="Regole di gioco"
          type="button"
        >
          <i class="fas fa-book p-2" style="font-size: 10mm;"></i>
        </button>
        <button
          onclick="javascript: document.getElementById('btn').play();"
          data-tooltip="Opzioni"
          type="button"
        >
          <i class="fas fa-cog p-2" style="font-size: 10mm;"></i>
        </button>
        <button
          onclick="javascript: document.getElementById('btn').play();"
          data-tooltip="Abbandona partita"
          type="button"
          style="border-bottom-right-radius: 2mm;"
        >
          <i class="fas fa-door-open p-2" style="font-size: 10mm;"></i>
        </button>
      </div>

      <div id="0" class="punteggio" style="right: 100mm;">
        0
        <div class="bolla">
          <div><div></div></div>
        </div>
      </div>
      <div id="1" class="punteggio" style="right: 45mm; bottom: 360mm;">
        0
        <div class="bolla">
          <div><div></div></div>
        </div>
      </div>
      <div id="2" class="punteggio" style="left: 10mm; bottom: 370mm;">
        0
        <div class="bolla">
          <div><div></div></div>
        </div>
      </div>
      <div id="3" class="punteggio" style="left: 65mm; bottom: 380mm;">
        0     <div class="bolla">
          <div><div></div></div>
        </div>
      </div>
    </div>

    <div class="chat">
      <button class="close-chat" (click)="nascondiChat()">
        <i class="fas fa-times-circle"></i>
      </button>
    </div>
    </div>
  </body>
</html>

<!-- <div class="card my-5">
  <div class="card-body">
    <table class="table table-bordered table-striped">
        
      <thead class="thead-dark">
        <tr>
          <th scope="col">simbolo</th>
          <th scope="col">valore</th>
        </tr>
      </thead>

      <tbody>
        <tr *ngFor="let carta of manoProva">
         
          <td>{{ carta.simbolo }}</td>
          <td>{{ carta.valore }}</td>
          
        </tr>
      </tbody>

    </table>
  </div>
</div> -->
